{% set url = content.field_community_info['0']['#url']|render %}
{% set url2 = content.field_community_info_2['0']['#url']|render %}

{{ kint(url) }}
{{ kint(url2) }}


<div class="row">
    <div class="col-md-6">
    	<div class="row">
            {% if content.field_policy_planner_contact %}
            <div class="clearfix col-md-12 cpa-fields">
                <strong class="overlays-field-title">Staff Contact: Plan Policies</strong> <br>
                {{ content.field_policy_planner_contact }}
            </div>
            {% endif %}
            
             {% if content.field_project_planner_contact %}
             <div class="clearfix col-md-12 cpa-fields">
                <strong class="overlays-field-title">Staff Contact: Project Review</strong> <br>
                {{ content.field_project_planner_contact }}
             </div>
            {% endif %}
            
            {% if content.field_general_information and url2 != ""  %}
             <div class="clearfix col-md-12 cpa-fields">
                <strong class="overlays-field-title">General Information:</strong><br>
                {{ content.field_general_information }}
            </div>
            {% endif %}
        </div>
    </div>

    <div class="col-md-6">
    	<div class="row">        
            {% if url != "" %}
            <div class="clearfix col-md-12 cpa-fields">
                <a href="{{ url|render }}" target="_blank" rel="nofollow">
                	<img src="{{ theme_base_path }}/images/i-planUpdating-v2.png" alt="community plan area info" />
                </a>
            </div>
            {% endif %}
            
            {% if url2 != "" %}
                <div class="clearfix col-md-12 cpa-fields">
                    <a href="{{ url2|render }}" target="_blank" rel="nofollow">
                 		<img src="{{ theme_base_path }}/images/i-VenicePlanUpdate.png" alt="Venice Local Coastal Program icon" />                    	
                    </a>
                </div>
            {% else %}
                {% if content.field_general_information %}
                 <div class="clearfix col-md-12 cpa-fields">
                    <strong class="overlays-field-title">General Information:</strong><br>
                    {{ content.field_general_information }}
                </div>
                {% endif %}        
            {% endif %}
    
        </div>
    </div>
</div>

<div class="row padding-top2em padding-bottom60">
    {% if content.body  %}
    <div class="col-md-12">
        {{ content.body|raw }}
	</div>
    {% endif %}    
</div>

{% set title_color = (bg == "Default") ? "panel-title-default" : "panel-title-white" %}

{# Content for Community Plan Document #}
<div class="row">
	<div class="col-md-12">		
		
		<div class="panel-group" id="accordion">
    		<div class="panel panel-default collapse-list">
    			<div class="panel-heading panelHeadingTitle-Orange">
    				<h6 class="panel-title">
    				    <a class="title no-uppercase {{ title_color }}" data-toggle="collapse" href="#collapseCPD">{{ content.field_document_heading_community }}</a>
    				</h6>
    			</div>
    		        
    			<div id="collapseCPD" class="panel-collapse collapse">
    				<div class="list-group">
    				    {{ content.field_community_plan_area_docume }}
    				</div>
    			</div>
    		</div>
    	</div>
	
	</div>
</div>

{# Content for Map Gallery #}
<div class="row">
	<div class="col-md-12">		
		
		<div class="panel-group" id="accordion">
    		<div class="panel panel-default collapse-list">
    			<div class="panel-heading panelHeadingTitle-Blue-Gray">
    				<h6 class="panel-title">
    				    <a class="title no-uppercase {{ title_color }}" data-toggle="collapse" href="#collapseMG">{{ content.field_document_heading_map_galle }}</a>
    				</h6>
    			</div>
    		        
    			<div id="collapseMG" class="panel-collapse collapse">
    				<div class="list-group">
                       {{ content.field_map_gallery }}	    
    				</div>
    			</div>
    		</div>
    	</div>
	
	</div>
</div>

{# Content for Overlay #}
<div class="row">
	<div class="col-md-12">
		
		<div class="panel-group" id="accordion">
    		<div class="panel panel-default collapse-list">
    			<div class="panel-heading panelHeadingTitle-Teal-Green">
    				<h6 class="panel-title">
    				    <a class="title no-uppercase {{ title_color }}" data-toggle="collapse" href="#collapseOv">{{ content.field_document_heading_overlays }}</a>
    				</h6>
    			</div>
    		        
    			<div id="collapseOv" class="panel-collapse collapse">
    				<div class="list-group">
                        {{ content.field_overlays }}				    
    				</div>
    			</div>
    		</div>
    	</div>
	
	</div>
</div>