    <!-- Fixed navbar -->
    {% include directory ~ '/partials/header.html.twig' %}
    <style>
      #calendar { margin: 0 auto;	}
      .hearing { color: #3399ff !important; }
      .commission {color: #9966cc !important; }
      .public {color: #70a300 !important; }

      /** intagram image **/
        .carousel-caption p {padding: 5px 5px 0 5px; margin-bottom: 5px !important;}
        #instagram-txt {font-size: 0.8em;}
        .bcolor-1{background: #D4E157; height: 350px;}
        .bcolor-2{background: #fff; height: 350px;}
        .bcolor-3{background: #FFCA28; height: 350px;}
        .insta-image {position: relative; overflow:hidden;}
    </style>

	<div class="clear"></div>

	<!-- banner -->
  <div class="container">
    	<div class="col-md-4 bcolor-1">
    		<div class="row">
    			<center>
    				<a href="#"><img class="img-responsive paddingtop10" src="{{ theme_base_path }}/images/features/My-Property-Icon-128-x-128.png" alt="Fee-Calculator"  /></a>
    				<h3>ZONING SEARCH</h3>
				</center>
    		</div>
    		<div class="row">
    			<center>
    			<form class="form" style="width: 80%;">
              		<div class="form-group">
              			<label for="address" class="sr-only">House number</label>
              			<input type="text" id="address"  class="form-control" placeholder="House number">
              		</div>

              		<div class="form-group">
              			<label for="street-name" class="sr-only">Street name</label>
              			<input type="text" id="street-name" class="form-control" placeholder="Street name">
              		</div>
              		<div class="form-group">
              			<button type="submit" class="btn btn-primary" id="search-zoning" style="width:100%">Lookup My Property</button>
              		</div>
              	</form>
              	</center>
    		</div>
    	</div>

    	<div class="col-md-4 insta-image bcolor-2">
			<div ng-app="app" ng-controller="homepageCtrl" id="insta-img">
    			<img class="img img-responsive" src="{[{instaFeeds[0].image_link}]}">
        		
        		<div class="carousel-caption" style="background-color:#333; left: 10px; text-align: left !important; padding-top: 0px; padding-bottom:0px; bottom: 0px; right: 4%;  margin-left: 5px; opacity: 0.7; filter: alpha(opacity=70);  ">
					<span id="instagram-txt" ng-bind-html="instaFeeds[0].message"></span>
        		</div>
        	</div>   
	 	</div>

    	<div class="col-md-4 bcolor-3">
    		<div class="row">
    			<center>
    				<a href="{{ base_path }}projects/development-service-centers"><img class="img-responsive paddingtop10" src="{{ theme_base_path }}/images/features/Appointments-Locations-Icon-128-x-128.png" alt="appointments and locations" /></a>
    				<h3>GET INVOLVED</h3>
				</center>
    		</div>
    		<div class="row">
    			<center>
    			<h4><a href="https://www.ourla2040.org/get-involved" target="_blank">General Plan</a></h4>
    			<h4><a href="{{ base_path }}communities/community-plan-updates">Communnity Plan Updates</a></h4>
    			<h4><a href="{{ base_path }}about/commission-agendas-minutes">Commission Meetings + Hearings</a></h4>
    			</center>
    		</div>
    	</div>

    </div><!-- //End banner -->

	<div class="clear"></div>

	<!-- feature section -->
	{% include directory ~ '/partials/featured_section.html.twig' %}
	<!-- //End feature section -->

   <!-- infograph -->
	<div id="infograph">
		<div class="container">
			<div class="row col-md-12">
				<div class="infograph-heading">
					<h1 class="text-uppercase">Measuring Our Success</h1>
				</div>

				<div class="col-xs-12 col-md-3">
					<div class="infograph-wrapper">
						<h3 class="count" id="ic-1">1</h3>
						<p class="stat-population">Total Apps Filed</p>
					</div>
				</div>

				<div class="col-xs-12 col-md-3">
					<div class="infograph-wrapper">
						<h3 class="count" id="ic-2">1</h3>
						<p class="stat-population">Total Apps Completed</p>
					</div>
				</div>

				<div class="col-xs-12 col-md-3">
					<div class="infograph-wrapper">
						<h3 class="count" id="ic-3">1</h3>
						<p class="stat-population">Housing Units Approved</p>
					</div>
				</div>

				<div class="col-xs-12 col-md-3">
					<div class="infograph-wrapper">
						<h3 class="count" id="ic-4">1</h3>
						<p class="stat-population">Customers Served</p>
					</div>
				</div>

				<div class="infograph-wrapper stat-population pull-right last-updated"><p>jan 1 - sep 30, '17</p></div>
			</div>
		</div>
		<div class="cover"></div>
	</div> <!-- //END infograph -->

	<!-- calendar -->
	<div class="container section-padding-inner padding-top90">
    <div class="row">
  		<div class="col-md-12 padding-bottom15 green"><h1 class="text-center">CITY PLANNING CALENDAR</h1></div>
  	</div>
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<div id='calendar'></div>
			</div>
		</div>
	</div> <!-- //End calendar -->

  <!-- footer section -->
  {{ attach_library ('cityplanning/front-page') }}
  {{ attach_library ('cityplanning/calendar-page') }}
  {{ attach_library ('cityplanning/angular-js') }}
  {% include directory ~ '/partials/footer.html.twig' %}