<style>
.ceterlogo{padding-left: 22.5%;}
</style>
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="row">
		<div class="col-md-12 ceterlogo"><a href="{{ base_path }}" class="navbar-brand"><img src="{{ theme_base_path }}/images/logo.png" alt="ladcp logo" /> </a></div>
	</div>
	<div class="container">
    	<div class="navbar-header">
        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        	<ul class="nav navbar-nav">
                <li class="dropdown mega-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About</a>
                    <ul class="dropdown-menu mega-dropdown-menu mega-menu-padding-10pc">
                        <li class="col-md-4">
                        	<h3 class="dropdown-header">About</h3>
                        	<ul>
                    			<li class="divider"></li>
            					<li><a href="{{ base_path }}about/message-director">Message from the Director</a></li>
            					<li><a href="{{ base_path }}about/planning-team">The Planning Team</a></li>
            					<li><a href="{{ base_path }}about/newsletter.php">Newsletter</a></li>
            					<li><a href="{{ base_path }}archieves/about/OrganizationCharts.pdf" target="_blank">Organization Charts</a></li>
            					<li><a href="{{ base_path }}about/staff-directory">Staff Directory</a></li>
                        	</ul>
                        </li>
                        <li class="col-md-4">
                        	<h3 class="dropdown-header">Commissions</h3>
                        	<ul>
                        		<li class="divider"></li>
            					<li><a href="{{ base_path }}about/role-our-commissions">The Role of Our Commissions</a></li>
            					<li><a href="{{ base_path }}about/commissions/3">City Planning Commission</a></li>
            					<li><a href="{{ base_path }}about/commissions/13">Cultural Heritage Commission</a></li>
            					<li><a href="{{ base_path }}about/commissions/23">Area Planning Commissions</a></li>
                        	</ul>
                        </li>
                        <li class="col-md-4">
            				<h3 class="dropdown-header">Meetings, Hearings, & Agendas</h3>
            				<ul>
            					<li class="divider"></li>
            					<li><a href="{{ base_path }}about/commission-agendas-minutes">Commission Agendas & Minutes</a></li>
            					<li><a href="{{ base_path }}about/hearings">Hearings</a></li>
            					<li><a href="{{ base_path }}about/calendar">Calendar</a></li>
            				</ul>
            			</li>
                    </ul>
            	</li>
                <li class="dropdown mega-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Zoning </a>
                    <ul class="dropdown-menu mega-dropdown-menu mega-menu-padding-10pc">
                        <li class="col-md-4">
                        	<h3 class="dropdown-header">Zoning 101</h3>
                        	<ul>
                        		<li class="divider"></li>
            					<li><a href="{{ base_path }}zoning/what-zoning">What is Zoning</a></li>
            					<li><a href="{{ base_path }}zoning/history-of-zoning-in-la">History of Zoning in LA</a></li>
            					<li><a href="{{ base_path }}zoning/types-zoning">Types of Zoning</a></li>
            					<li><a href="{{ base_path }}zoning/what-zimas">What is ZIMAS</a></li>
                        	</ul>
                        </li>
                        <li class="col-md-4">
                        	<h3 class="dropdown-header">Zoning in Los Angeles</h3>
                        	<ul>
                        		<li class="divider"></li>
            					<li><a href="http://zimas.lacity.org/" target='_blank'>Find the Zone for a Specific Property (ZIMAS) </a></li>
            					<li><a href="http://planning.lacity.org/zone_code/Appendices/sum_of_zone.pdf" target='_blank'>Learn What a Zone Allows </a></li>
            					<li><a href="http://library.amlegal.com/nxt/gateway.dll/California/lapz/municipalcodechapteriplanningandzoningco/chapterigeneralprovisionsandzoning/article2specificplanning-zoningcomprehen?f=templates$fn=default.htm$3.0$vid=amlegal:lapz_ca$anc=" target='_blank'>View the Zoning Code </a></li>
                        	</ul>
                        </li>
                        <li class="col-md-4">
                        	<h3 class="dropdown-header">Updating the Zoning Code</h3>
                        	<ul>
                        		<li class="divider"></li>
            					<li><a href="http://recode.la/" target='_blank'>re:code LA Project </a></li>
            					<li><a href="{{ base_path }}zoning/why-update-zoning-code">Why Update The Zoning Code?</a></li>
                        	</ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown mega-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects </a>
                    <ul class="dropdown-menu mega-dropdown-menu mega-menu-padding-10pc">
                    	<li class="col-md-3"></li>

                        <li class="col-md-3">
                        	<h3 class="dropdown-header">Applicants</h3>
                        	<ul>
                        		<li class="divider"></li>
            					<li><a href="{{ base_path }}projects/land-use-process">Land Use Process</a></li>
            					<li><a href="{{ base_path }}projects/public-counters">Public Counters</a></li>
            					<li><a href="{{ base_path }}appointment/form">Schedule an Appointment</a></li>
            					<li><a href="#">Case Processing Information</a></li>
                        	</ul>
                        </li>

                        <li class="col-md-3">
            				<h3 class="dropdown-header">Additional Resources</h3>
            				<ul>
            					<li class="divider"></li>
                                <li><a href="http://planning.lacity.org/zone_code/Appendices/Tenant_Relocation.pdf" target="_blank" download="tenant_relocation">Tenant Relocation</a></li>
                                <li><a href="http://planning.lacity.org/fees/" target="_blank">Fee Estimator</a></li>
                                <li><a href="{{ base_path }}projects/ceqa-environmental-review">CEQA / Environmental Review</a></li>
            					<li><a href="{{ base_path }}about/hearings">Hearings</a></li>
            					<li><a href="{{ base_path }}about/commission-agendas-minutes">Commission Agendas & Minutes</a></li>
            					<li><a href="#">Forms</a></li>
            				</ul>
            			</li>
            			<li class="col-md-3"></li>
                    </ul>
                </li>
                <li class="dropdown mega-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Policies </a>
                	<ul class="dropdown-menu mega-dropdown-menu mega-menu-padding-10pc">
                    	<li class="col-md-4">
                    		<h3 class="dropdown-header">General Plan</h3>
                        	<ul>
                        		<li class="divider"></li>
            					<li><a href="{{ base_path }}citywide/general-plan-overview">General Plan Overview</a></li>
            					<li><a href="{{ base_path }}citywide/general-plan-elements">General Plan Elements</a></li>
								<li><a href="{{ base_path }}citywide/general-plan-implementation-strategies" >General Plan Implementation Strategies</a></li>
								<li><a href="https://www.ourla2040.org" target="_blank">General Plan Updates</a></li>
                        	</ul>
                        </li>

                        <li class="col-md-4">
                        	<h3 class="dropdown-header">Citywide Policies &amp; Guidelines</h3>
                        	<ul>
                        		<li class="divider"></li>
								<li><a href="{{ base_path }}citywide/historic-preservation">Historic Preservation</a></li>
								<li><a href="http://urbandesignla.com/" target="_blank">Urban Design Studio</a></li>
                        	</ul>
                        </li>


						<li class="col-md-4">
                        	<h3 class="dropdown-header">Ordinances</h3>
                        	<ul>
                        		<li class="divider"></li>
            					<li><a href="https://cityclerk.lacity.org/lacityclerkconnect/index.cfm?fa=c.search&tab=ORD" target="_blank">Adopted Ordinances</a></li>
								<li><a href="{{ base_path }}citywide/proposed-ordinances">Proposed Ordinances</a></li>
                        	</ul>
                        </li>
                	</ul>
            	</li>

              	<li class="dropdown mega-dropdown">
                	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Communities </a>
                    <ul class="dropdown-menu mega-dropdown-menu mega-menu-padding-10pc">
                		<li class="col-md-3"></li>
                        <li class="col-md-3" >
                    		<h3 class="dropdown-header">Community Plans</h3>
                        	<ul>
                        		<li class="divider"></li>
            					<li><a href="{{ base_path }}communities/community-plan-areas" target="_blank">Community Plan Areas</a></li>
            					<li><a href="#">Community Plan Updates</a></li>
                        	</ul>
                        </li>
                        <li class="col-md-3">
                    		<h3 class="dropdown-header">Adoption Information</h3>
                        	<ul>
                        		<li class="divider"></li>
            					<li><a href="https://planning.lacity.org/complan/Cpupage.htm" target="_blank">Community Plans</a></li>
            					<li><a href="https://planning.lacity.org/complan/spapage.htm" target="_blank">Specific Plans</a></li>
                        	</ul>
                    	</li>
                        <li class="col-md-3"></li>
                    </ul>
            	</li>

            	<li class="dropdown mega-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Research </a>
                    <ul class="dropdown-menu mega-dropdown-menu mega-menu-padding-10pc">
                        <li class="col-md-3">
                        	<h3 class="dropdown-header">Resources</h3>
                        	<ul>
                        		<li class="divider"></li>
            					<li><a href="{{ base_path }}research/demographics">Demographics</a></li>
            					<li><a href="{{ base_path }}resources/maps-geographies.php">Maps & Geographies</a></li>
            					<li><a href="#">Publications</a></li>
            					<li><a href="#">Forms</a></li>
            					<li><a href="http://planning.lacity.org/fees/">Fee Estimator </a></li>
                        	</ul>
                        </li>
                        <li class="col-md-3">
                        	<h3 class="dropdown-header">Open Data</h3>
                        	<ul>
                        		<li class="divider"></li>
                        		<li><a href="https://data.lacity.org/" target="_blank">Open Data Hub </a></li>
                               <li><a href="http://geohub.lacity.org/" target="_blank"> Geo Hub </a></li>
                                <li><a href="https://egis3.lacounty.gov/dataportal" target="_blank">County GIS Data Portal </a></li>
                        	</ul>
                        </li>
                        <li class="col-md-3">
                        	<h3 class="dropdown-header">Case Report</h3>
                        	<ul>
                        		<li class="divider"></li>
                                <li><a href="{{ base_path }}research/bi-weekly-case-filing/163">Bi-Weekly Case Filing by Certified Neighborhood Council</a></li>
                               	<li><a href="{{ base_path }}research/bi-weekly-case-filing/173" >Bi-weekly Case Filing by City Council District</a></li>
                                <li><a href="{{ base_path }}research/bi-weekly-case-filing/183">Bi-Weekly Case Filing by Community Plan Area</a></li>
                            	<li><a href="{{ base_path }}research/pcts-codes.php">PCTS Prefix and Suffix Codes</a></li>
                        	</ul>
                        </li>
                    </ul>
                </li>

                <li class="dropdown mega-dropdown">
              		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Media</a>
                  	<ul class="dropdown-menu mega-dropdown-menu mega-menu-padding-10pc">
                  		<li class="col-md-3"></li>
                      	<li class="col-md-3" >
                        	<h3 class="dropdown-header">Media Relations</h3>
                            <ul>
                              	<li class="divider"></li>
                                <li><a href="{{ base_path }}media/our-stories">Our Stories</a></li>
                                <li><a href="{{ base_path }}media/updates-newsletter">Updates / Newsletter</a></li>
                                <li><a href="{{ base_path }}media/press-releases">Press Releases</a></li>
                                <li><a href="{{ base_path }}media/media-information">Media Information</a></li>
                            </ul>
                      	</li>
                      	<li class="col-md-3"></li>
                      	<li class="col-md-3"></li>
                  	</ul>
              	</li>
            </ul>
             <!-- font and language -->
            <ul class="navbar-default navbar-right md-xs-sm-12 padding-top13">
                <li><div id="google-lan"><div id="google_translate_element"></div></div></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
	</nav>