            <div class="row">
              <div class="col-md-12" id="teams">
                {% if header %}
                  <header class="padding-bottom25">
                    {{ header }}
                  </header>
                {% endif %}

                <div class="padding-bottom60">
                  <a href="#" class="customButton">Access Upcoming Agendas</a>
                  <a href="/about/commission-meetings" class="customButton">Commission Meetings</a>
                </div>
                			
    				 	  <div id="commissions-tab">
                  <ul class="nav nav-tabs">
                    {% for item in category %}
                      {% if loop.index == 1 %}
                        {% set active_class = 'active'  %}
                        {% set class = 'padding-left0'  %}
                      {% else %}
                        {% set active_class = ''  %}
                        {% set class = ''  %}
                      {% endif %}
                      <li class="padding-top0 {{ active_class }} {{ (loop.last) ? '' : 'tab-line'  }} js-tab">
                        <a data-toggle="tab" id="{{ item.id }}" href="#{{ item.counter }}" class="{{ class }}">
                          {{ item.first_name}}</br>
                          {{ item.last_name }}
                        </a>
                      </li>
                    {% endfor %}
                    </ul>

                    <div class="loading hidden"></div>

                    <div class="tab-content paddingtop15" id="js-content">
                      <div class="tab-pane fade in active">
                        {{ rows }}
                        {{ empty }}
                      </div>
                    </div>
                </div><!-- //End #commissions-tab -->
                    
              </div><!-- //End #team -->
            </div>
