<style>
.slider-content.transparent {
    background-color: transparent;
  }
</style>

{% for item in items %}
{% set link = item.content['#field_collection_item'].field_link.0.url %}
{% set text = item.content['#field_collection_item'].field_content_captions[0].value %}
{% set url = file_url(item.content['#field_collection_item'].get('field_slide_image').entity.uri.value | image_style('slider_image')) %}

<div class="swiper-slide" >
  {% if link is not empty %}
    <a href="{{ link }}">
      <img src="{{ url }}" class="img-responsive" /></a>
    {% if text is not empty %}
	<div class="slider-content">{{ text|raw }}</div>
    {% else %}
  <div class="slider-content transparent">{{ text|raw }}</div>
    {% endif %}
  </div>
  {% else %}
	<img src="{{ url }}" class="img-responsive" />
   {% if text is not empty %}
	<div class="slider-content">{{ text|raw }}</div>
   {% else %}
  <div class="slider-content transparent">{{ text|raw }}</div>
   {% endif %}
  </div>
{% endif %}
{% endfor %}
