{% include directory ~ '/partials/header.html.twig' %}


  {# page-banner #}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div id="page-title-bg" style="background-image: url('{{ file_url(node.field_image.entity.fileuri) }}')"></div>
      </div>
    </div>
  </div>
  {# End page-banner #}

  <!-- contain -->
  <div class="container" id="main-container">
    {# Main content #}
    <div class="row">
      <div class="col-md-12">
        <h1>{{ node.label }}</h1>
      </div>

    </div>

    <div class="row paddingtop15 padding-bottom60">
      <div class="col-md-3 sidebar-menu hidden-sm hidden-xs pull-right">
        <div class="top-bar"></div>
        {{ page.side_menu }}
      </div>

      {# Left-side bar #}
      <div class="col-md-9">
        <div class="row padding-left0">

            {# content goes here  #}
            {{ page.content }}
            <!-- Right-side bar -->


            <!-- //End Right-side bar -->
            <br>
</div></div>
			{# Tabs #}
            <div class="row padding-left0">
            	<div class="col-md-12">

	        		<div id="commissions-meeting-tab" ng-app="appCommMeetings">
                		<ul class="nav nav-tabs" role="tablist">
                			<li role="presentation" class="padding-top0 tab-line active">
        				 		<a href="#commissions" aria-controls="1" role="tab" data-toggle="tab" data-value="Commissions">Commissions</a>
                            </li>
                			<li role="presentation" class="padding-top0 tab-line">
        				 		<a href="#boards" aria-controls="2" role="tab" data-toggle="tab" data-value="Boards">Boards</a>
                            </li>
                			<li role="presentation" class="padding-top0 tab-line">
        				 		<a href="#hearings" aria-controls="3" role="tab" data-toggle="tab" data-value="Hearings">Hearings</a>
                            </li>
                            <li role="presentation" class="padding-top0">
        				 		<a href="#sunshine" aria-controls="4" role="tab" data-toggle="tab" data-value="Sunshine">Sunshine Canyon</a>
                            </li>
                		</ul>

                		<div class="tab-content" style="padding: 15px 0;">
                			<!-- commissions -->
                			<div class="tab-pane fade in active" id="commissions" ng-controller="commissionCtrl">

                                {# filter & search #}
                                <div class="row">
                                  <div class="col-md-12 padding-left0 padding-right0">
                                    <div class="padding-bottom20">
                                      <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                          <div class="row padding-bottom25 content-search padding-left0">
                                            <div class="col-md-8 col-xs-12 filter-by">
                                              <label>Filter by :
                                              </label>
                                              <select name="apc" ng-model="apc">
                                                <option ng-repeat="option in apcAreas.availableOptions" value="{[{option.id}]}" ng-selected="apc == option.id">{[{option.name}]}</option>
                                              </select>

                                              <!-- year -->
                                              <select name="date" ng-model="date">
                                                <option>- Year -</option>
                                                <option ng-repeat="d in dates" ng-selected="d==date" ng-value="d" ng-bind="d"></option>
                                              </select>
                                            </div>

                                            {# filter option #}
                                            <div class="col-md-4 col-xs-12 search" id="content-search">
                                              <input ng-model="search" placeholder="Search">
                                            </div>

                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div> {# end filter & search #}

                                <div class="row">
                                  <div class="col-md-12">
                                    <div ng-disabled="enable=='false'">
                                      <center ng-show="loadingText == 'Loading ...'">
                                        <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                                        <span class="sr-only">Loading...</span></center>
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-md-12 padding-left0 padding-right0">
                                    <div class="table-responsive">
                                      <table class="table table-hover">
                                        <colgroup>
                                          <col class="col-md-1">
                                          <col class="col-md-3">
                                          <col class="col-md-2">
                                          <col class="col-md-1">
                                          <col class="col-md-1">
                                          <col class="col-md-1">
                                          <col class="col-md-1">
                                        </colgroup>
                                        <thead>
                                        <tr>
                                          <th>Date</th>
                                          <th>Type</th>
                                          <th>Region</th>
                                          <th>Agenda</th>
                                          <th>Supplemental Docs</th>
                                          <th>Audio</th>
                                          <th>Minutes</th>
                                        </tr>
                                        </thead>
                                        <tr ng-if="agendas.length > 0" ng-repeat="agenda in agendas | filter:search">
                                          <td ng-bind="agenda.Date"></td>
                                          <td>
                                            <span ng-if="agenda.Type" ng-bind="agenda.Type"></span>
                                          </td>
                                          <td>
                                          	<span ng-if="agenda.APC" ng-bind="agenda.APC"></span>
                                          </td>
                                          <td>
                                            <span ng-if="agenda.AgendaLink">
                                              <a href="{[{agenda.AgendaLink}]}" target="_blank">
                                                <i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i>
                                              </a>
                                            </span>
                                          </td>
                                          <td>
                                            <span ng-if="agenda.AddDocsLink">
                                              <a href="{[{agenda.AddDocsLink}]}" target="_blank">
                                                <i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i>
                                              </a>
                                            </span>
                                          </td>
                                          <td>
                                            <span ng-if="agenda.AudioLink">
                                              <a href="{[{agenda.AudioLink}]}" target="_blank">
                                                <i class="fa fa-file-audio-o fa-2x" aria-hidden="true"></i>
                                              </a>
                                            </span>
                                          </td>
                                          <td>
                                            <span ng-if="agenda.MinutesLink">
                                              <a href="{[{agenda.MinutesLink}]}" target="_blank">
                                                <i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i>
                                              </a>
                                            </span>
                                          </td>
                                        </tr>

                                        <tr ng-if="agendas.length < 1">
                                        	<td colspan="7">No record found!</td>
                                        </tr>
                                      </table>
                                    </div>
                                  </div>
                                </div>

                    		</div>

                    		<!-- boards -->
                    		<div class="tab-pane fade in" id="boards" ng-controller="boardCtrl">
                    			<div class="row">
                                  <div class="col-md-12 padding-left0 padding-right0">
                                    <div class="padding-bottom20">
                                      <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                          <div class="row content-search">
                                            <div class="col-md-8 col-xs-12 filter-by">
                                              <label>Filter by Region: </label>
                                              <select name="apc" ng-model="apc" >
                                                <option ng-repeat="option in apcAreas.availableOptions" value="{[{option.id}]}"  ng-selected="apc == option.id">{[{option.name}]}</option>
                                              </select>

                                              <!-- year -->
                                              <select name="date" ng-model="date">
                                                <option ng-repeat="d in dates" ng-selected="d==date" ng-value="d" ng-bind="d"></option>
                                              </select>
                                            </div>

                                            {# filter option #}
                                            <div class="col-md-4 col-xs-12 search" id="content-search">
                                              <input ng-model="search" placeholder="Search">
                                            </div>

                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-md-12">
                                    <div ng-disabled="enable=='false'">
                                      <center ng-show="loadingText == 'Loading ...'"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i><span class="sr-only">Loading...</span></center>
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-md-12 padding-left0 padding-right0">
                                    <div class="table-responsive">
                                      <table class="table table-hover">
                                        <colgroup>
                                          <col class="col-md-1">
                                          <col class="col-md-2">
                                          <col class="col-md-3">
                                          <col class="col-md-5">
                                          <col class="col-md-2">
                                        </colgroup>

                                        <thead>
                                        <tr>
                                          <th>Date</th>
                                          <th>Type</th>
                                          <th>Board Name</th>
                                          <th>Address</th>
                                          <th>Agenda</th>
                                        </tr>
                                        </thead>

                                        <tr ng-if="boards.length > 0" ng-repeat="board in boards | filter:search">
                                          <td ng-bind="board.Date"></td>
                                          <td ng-bind="board.Type"></td>
                                          <td ng-bind="board.BoardName"></td>
                                          <td ng-bind="board.Address"></td>
                                          <td>
                                            <span ng-if="board.AgendaLink"><a href="{[{board.AgendaLink}]}" target="_blank">
                                                <i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i></a>
                                            </span>
                                          </td>
                                        </tr>

                                        <tr ng-if="boards.length < 1">
                                        	<td colspan="5">No record found!</td>
                                        </tr>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                    		</div>

                    		<!-- hearings -->
                    		<div class="tab-pane fade in" id="hearings" ng-controller="hearingsCtrl">

                    			<div class="row">
                                  <div class="col-md-12 padding-left0 padding-right0">
                                    <div class="padding-bottom20">
                                      <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                          <div class="row content-search">
                                            <div class="col-md-8 col-xs-12 filter-by">
                                              <label>Filter by Region: </label>
                                              <select name="apc" ng-model="apc" >
                                                <option ng-repeat="option in apcAreas.availableOptions" value="{[{option.id}]}"  ng-selected="apc == option.id">{[{option.name}]}</option>
                                              </select>

                                              <!-- year -->
                                              <select name="date" ng-model="date">
                                                <option ng-repeat="d in dates" ng-selected="d==date" ng-value="d" ng-bind="d"></option>
                                              </select>
                                            </div>

                                            <div class="col-md-4 col-xs-12" id="content-search">
                                              <input ng-model="CaseNumber" placeholder="Search your hearing">
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-md-12">
                                    <div ng-disabled="enable=='false'">
                                      <center ng-show="loadingText == 'Loading ...'"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i><span class="sr-only">Loading...</span></center>
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-md-12 padding-left0 padding-right0">
                                    <div class="table-responsive">
                                      <table class="table table-hover">
                                        <colgroup>
                                          <col class="col-md-1">
                                          <col class="col-md-3">
                                          <col class="col-md-5">
                                          <col class="col-md-2">
                                          <col class="col-md-2">
                                          <col class="col-md-2">
                                          <col class="col-md-2">
                                        </colgroup>

                                        <thead>
                                        <tr>
                                          <th>Date</th>
                                          <th>Case Number</th>
                                          <th>Address</th>
                                          <th>Notes</th>
                                          <th>Agenda</th>
                                          <th>Hearing Notice</th>
                                          <th>Council District</th>
                                        </tr>
                                        </thead>

                                        <tr ng-repeat="hearing in hearings | filter:CaseNumber" ng-if="hearings.length > 0">
                                          <td ng-bind="hearing.Date"></td>
                                          <td ng-bind="hearing.CaseNumber"></td>
                                          <td ng-bind="hearing.Address"></td>
                                          <td ng-bind="hearing.Note"></td>
                                          <td>
                                          	<span ng-if="hearing.AgendaLink"><a href="{[{hearing.AgendaLink}]}" target="_blank">
                                                <i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i></a>
                                          	</span>
                                          </td>
                                          <td>
                                            <span ng-if="hearing.HearingLink"><a href="{[{hearing.HearingLink}]}" target="_blank">
                                                <i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i></a>
                                            </span>
                                          </td>
                                          <td ng-bind="hearing.CD"></td>
                                        </tr>

										<tr ng-if="hearings.length < 1">
                                        	<td colspan="7">No record found!</td>
                                        </tr>
                                      </table>
                                    </div>
                                  </div>
                                </div>

                    		</div> {# //end hearings tab #}

                    		<!-- Sunshine -->
                    		<div class="tab-pane fade in" id="sunshine">
                    			<div class="row">
                                  <div class="col-md-12 padding-left0 padding-right0">

                         			{% if sunshine.0.body|length > 0 %}
                                      	{% for parag_id in sunshine.0.body %}
                                      	    {{ bamboo_render_entity('paragraph', parag_id.get('target_id').value) }}
                                      	{% endfor %}
                                  	{% endif %}

                                  </div>
                                </div>
                    		</div> {# //end Sunshine tab #}

                		</div> <!-- //end .tab-content -->

            		</div>{# //end #publication-tab #}

        		</div>

            </div>{# //end Tabs #}

          </div>
        </div>
      </div> {# End Left-side bar #}

    </div>
  </div> {# End container #}


<!-- footer section -->
{{ attach_library ('cpv3/agenda-hearing') }}
{{ attach_library ('cpv3/angular-js') }}

{% include directory ~ '/partials/footer.html.twig' %}
