    <!-- Fixed navbar -->
    {% include directory ~ '/partials/header.html.twig' %}

	<!-- title-bar -->
    <div id="title-bar">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-8 col-xs-12">
    				<h1>Area Planning Commissions</h1>
    			</div>

    			<div class="col-md-4 col-xs-12">
    				<ol class="breadcrumb pull-right">
                      <li><a href="{{ base_path }}">Home</a></li>
                      <li class="active"><a href="#">About</a></li>
                    </ol>
    			</div>
    		</div>

    		<div class="bottom" style="padding-top:20px;"></div>

    	</div>
	</div>

	<!-- //End title-bar -->

	<div class="clear"></div>

	<!-- contain -->
	<div class="container section-padding-inner">
		<div class="row" id="change">
			<!-- left bar -->
			<div class="col-md-12 col-xs-12">
				<div class="row" id="teams">

					<ul>
    					<li><a href="{{ base_path }}about/commissions/33"><i class="fa fa-angle-right" aria-hidden="true"></i> North Valley Area Planning Commission</a></li>
                        <li><a href="{{ base_path }}about/commissions/43"><i class="fa fa-angle-right" aria-hidden="true"></i> South Valley Area Planning Commission</a></li>
                        <li><a href="{{ base_path }}about/commissions/53"><i class="fa fa-angle-right" aria-hidden="true"></i> West Los Angeles Area Planning Commission</a></li>
                        <li><a href="{{ base_path }}about/commissions/63"><i class="fa fa-angle-right" aria-hidden="true"></i> Central Los Angeles Area Planning Commission</a></li>
                        <li><a href="{{ base_path }}about/commissions/73"><i class="fa fa-angle-right" aria-hidden="true"></i> East Los Angeles Area Planning Commission</a></li>
                        <li><a href="{{ base_path }}about/commissions/83"><i class="fa fa-angle-right" aria-hidden="true"></i> South Los Angeles Area Planning Commission</a></li>
                        <li><a href="{{ base_path }}about/commissions/93"><i class="fa fa-angle-right" aria-hidden="true"></i> Harbor Area Planning Commission</a></li>
					</ul>

				</div>
			</div><!-- //END left bar -->
		</div>
	</div>	<!-- //End container -->

    <!-- footer section -->
    {% include directory ~ '/partials/footer.html.twig' %}