    <!-- Fixed navbar -->
    {% include directory ~ '/partials/header.html.twig' %}

	<!-- page-banner -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div id="page-title-bg"><img src="{{ theme_base_path }}/images/page-bg.jpg" class="img-responsive " alt="bg"></div>
			</div>
		</div>
	</div>
	<!-- //End page-banner -->

	<!-- contain -->
	<div class="container" id="main-container">
		<!-- page title  -->
		{{ page.title_bar }}
		<!-- //End page title  -->

		<!-- Main content -->
		<div class="row">
			<!--  Left-side bar  -->
			<div class="col-md-9 padding-left0 padding-right-15">
				<div class="row">
					<div class="col-md-12">
            <div class="row">
                        	<div class="col-md-12 padding-left-15 padding-bottom25">
                            	<h1>Message from the Director</h1>
                        	</div>
                    	</div>

						<div class="row padding-bottom60">
                            <div class="col-md-3">
                                <img class="img-responsive" src="{{ theme_base_path }}/images/Vince_Bertoni.png" />
                            </div>

                            <div class="col-md-9 padding-left0">
                            	<div class="row padding-bottom10"><a href="#" class="inner-page-social-icon"><i class="fa fa-twitter fa-lg" aria-hidden="true" style="padding-right: 16px;"></i> FOLLOW ON TWITTER</a></div>
                            	<div class="row padding-bottom10"><a href="#" class="inner-page-social-icon"><i class="fa fa-file-text-o fa-lg" aria-hidden="true" style="padding-right: 16px;"></i> FULL BIO</a></div>
                            	<div class="row"><a href="#" class="inner-page-social-icon"><i class="fa fa-user fa-lg" aria-hidden="true" style="padding-right: 20px;"></i> HEADSHOT</a></div>

                            </div>
                        </div>

                        <div class="row">
                        	<div class="col-md-12">
                        		<p>Dear Friends:</p>
                        		<p>Two thousand sixteen proved to be a successful year for the Department of City Planning.</p>
                        		<p>As we reflect back, I want to thank you for helping the Department achieve the goals we set.</p>
                        		<p>Together, we will set the bar high and approach 2017 with a newfound sense of purpose. While the
                        		work may be daunting, we share a common goal - to create a long-term vision for the City, one which will inform
                        		and properly shape future decisions about development.</p>

                        		<p>From reducing the average wait times at our Development Service Centers to embarking on a comprehensive update to our
                        		Community Plans, we've moved the needle in the right direction. In the process, we increased transparency and efficiency
                        		in Los Angeles's overall planning process.</p>

                        		<p>When I started in February 2016, I spoke about the need to demystify the planning process in order to have our work be readily
                        		understandable to Angelenos. To that end, we established new services at our counters to guide applicants through the development process.
                        		We also created an External Affairs Division to further our community engagement.</p>

                        		<p>We've made great improvements from where we were twelve months ago. As I enter my second year on the job, I look forward to building upon
                        		the path we've charted. Together, we will reshape the way we plan in the 21st century.</p>

                        		<p>Sincerely,</p>
                        		<p><img alt="signature" src="{{ theme_base_path }}/images/VinceBertoni_sig.png"></p>
                        		<p>Vincent P. Bertoni, AICP</p>

                        	</div>
                        </div>



					</div>
				</div>
			</div><!-- //End Left-side bar -->

			<!-- Right-side bar -->
			{% include directory ~ '/partials/right_side_bar.html.twig' %}
			<!-- //End Right-side bar -->

		</div>
	</div>	<!-- //End container -->

	<!-- promo -->
    <div class="container-fluid info-bg-color-2">
		<div class="row">
			<div class="col-md-12"><center><img class="img-responsive" src="{{ theme_base_path }}/images/stats-HomePage.png" alt="info stat" /></center></div>
		</div>
    </div>

    <div class="container" id="container-inner">
    	<div class="row">
    		<div class="col-md-12 paddingtop15 padding-bottom15">
    			<blockquote class="blockquote">
    			<p>
    			"Morbi ut quam risus. Aliquam pretium eget mauris sit amet finibus. Fusce scelerisque at justo vel tincidunt.
    			Etiam neque lorem, pretium id aliquam vitae, aliquet eu augue. Praesent pellentesque ligula ut diam ultrices pretium."
    			<br>
    			<strong>Vincent P. Bertoni, AICP</strong></p>
    			</blockquote>
    		</div>
    	</div>
    </div>


    <!-- footer section -->
    {% include directory ~ '/partials/footer.html.twig' %}