    <!-- Fixed navbar -->
    {% include directory ~ '/partials/header.html.twig' %}

	<!-- Slider-->
  	{{ page.slider }}
  	
  	<!-- color boxes -->
  	{% include directory ~ '/partials/color-boxes.html.twig' %}
	<!-- // End color boxes -->

	<!-- Feature section -->
	<div class="container paddingtop25">
		{# Feature Block 1 #}
		{% include directory ~ '/partials/featured_section1.html.twig' %}
		<!-- //END Feature Block 1 -->

		{# Feature Block 2  #}
		{% include directory ~ '/partials/featured_section2.html.twig' %}
		<!-- //End Feature Block 2 -->
    </div><!-- // End Feature section -->

   	{# Infograph #}
   	<div class="promotion-bg">
    	<div class="container paddingtop25 padding-bottom60" id="promotion">
             <div class="row">
    			<center>
        			<h1 style="color: #fff; font-size: 46px; font-weight:lighter;">City of LA Profile</h1>
                    <div class="col-lg-4" style="padding-top: 100px;">
                    	<img class="img-responsive" src="{{ theme_base_path }}/images/info-1.png" alt="info stat" />
                    </div>

                    <div class="col-lg-4" style="padding-top: 100px;">
                    	<img class="img-responsive" src="{{ theme_base_path }}/images/info-2.png" alt="info stat" />
                    </div>

                    <div class="col-lg-4" style="padding-top: 100px;">
                    	<img class="img-responsive" src="{{ theme_base_path }}/images/info-3.png" alt="info stat" />
                    </div>
                </center>
             </div>
    	</div>
	</div>{# //End Infograph #}

  {#  Social media #}
  {% include directory ~ '/partials/social_media.html.twig' %}
  {#  // End Social media #}

	{# stay connected #}
	{% include directory ~ '/partials/stay_connected.html.twig' %}
	{# // End #say-connected #}

  {{ attach_library ('cpv3/social-media') }}
  {{ attach_library ('cpv3/front-page') }}
  {{ attach_library ('cpv3/angular-js') }}

	{# Footer section #}
	{% include directory ~ '/partials/footer.html.twig' %}
	{# //End Footer section #}

	{#
	<script type="text/javascript">
        // Masonry
        // external js: isotope.pkgd.js, imagesloaded.pkgd.js
		$('.grid').isotope({
          itemSelector: '.grid-item',
          masonry: {
            columnWidth: 100
          }
        });
  	</script>
  	#}