</<!-- Fixed navbar -->
{% include directory ~ '/partials/header.html.twig' %}

<!-- page-banner -->
<div class="container-fluid">
<div class="row">
  <div class="col-md-12">
    <div id="page-title-bg" style="background-image: url('{{ theme_base_path }}/images/page-bg.jpg')"></div>
  </div>
</div>
</div><!-- //End page-banner -->
<div class="container" id="main-container" ng-app="appPubCounter" >
  <div class="row">
    <div class="col-md-12"><h1>{{ node.label }}</h1></div>
  </div>

<div class="row content-wrapper padding-bottom60">

    {# Left-side bar #}
    <div class="col-md-9">
      {% if page.content %}
        <div class="row padding-left0">
          <div class="col-md-12">
            {{ page.content }}
          </div>
        </div>
      {% endif %}


      <div class="row padding-left0">
        <div class="col-md-12">
          <div ng-disabled="enable=='false'">
                    <center ng-show="loadingText == 'Loading ...'"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i><span class="sr-only">Loading...</span></center>
                  </div>
        </div>
      </div>

      <div class="col-md-12" ng-controller="pubCounterMetroCtrl" style="padding-left:0;">
<div class="col-md-6" style="margin-left:-15px;">
  <p><strong>Metro Downtown (Fiqueroa Plaza)</strong><br>
  201 N. Fiqueroa St.<br>
    4th Floor<br>
    Los Angeles, CA 90012<br>
    <strong><a href="https://www.google.com/maps/dir//201+N+Figueroa+St,+Los+Angeles,+CA+90012/@34.0589655,-118.253579,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x80c2c6533ce33c37:0x4eacbc863fcd7d11!2m2!1d-118.2514289!2d34.0590933" target="_blank">Get Directions</a></strong><br>
    TEL: 213-482-7077<br>
      FAX: 213-482-7080</p>
    </div>
      <div class="col-md-6 col-xs-12 sub-head">
        <p><strong>Main Public Counter - 4th Floor</strong><br>
      <strong>Hours of Operation:</strong></p>
        <p style="float:left; margin-top:-16px;">Monday<br>
          Tuesday<br>
          Wednesday<br>
          Thursday<br>
          Friday</p>
          <p style="float:right; margin-top:-16px; margin-right:25px">7:30am - 4:30pm<br>
            7:30am - 4:30pm<br>
            9:00am - 4:30pm<br>
            7:30am - 4:30pm<br>
            7:30am - 4:30pm</p>

</div>
 <div class="col-md-12 info" style="padding: 0px; margin-left:-10px;">
              <ul class="pub-counters" style="background-color: #A0A8A9;padding: 0px 10px 20px 30px;list-style:none;clear:left;display:block;width: 45%;margin-right: 36px;float:right;" ng-Repeat="pubCounterMetroService in pubCounterMetroServices | toArray : false | filterWithOr:{queueName:['Planning Check-In','Planning Express']} track by $index">
              <li class="pub-header" style="font-weight: 600; padding-top: 15px;">{[{ pubCounterMetroService.queueName }]}</li>
    <li><i class="fa fa-clock-o fa-1x" style="float: left;  padding-right: 11px; padding-bottom: 1px; font-size:20px;"></i>Current Wait Time: {[{ pubCounterMetroService.actualWaitTime | time:'mm' }]}</li>
              <li><i class="fa fa-user-circle-o fa-1x" style="float: left;  padding-right: 11px;font-size: 1.1em;margin-top: 3px;"></i>{[{ pubCounterMetroService.numberOfTicketsWaiting }]} Person(s) Waiting</li>
    </ul>
    </div>
    </div>

      <div class="col-md-12" ng-controller="pubCounterValleyCtrl" style="padding-left:0;">
        <div class="col-md-6" style="margin-left:-15px;margin-top:30px">
        <p><strong>Valley - Van Nuys (Marvin Braude Building)</strong><br>
                6262 Van Nuys Blvd.<br>
          Suite 251<br>
          Van Nuys, CA 91401<br>
          <strong><a href="https://www.google.com/maps/dir//6262+Van+Nuys+Blvd,+Van+Nuys,+CA/@34.184405,-118.4827583,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x80c29706f2a8165b:0xf8ad98c560f35b7b!2m2!1d-118.4476531!2d34.184339" target="_blank">Get Directions</a></strong><br>
          TEL: 818-374-5050<br>
            FAX: 818-374-5075</p>
          </div>
            <div class="col-md-6 col-xs-12 sub-head" style="margin-top:30px">
              <p><strong>Main Public Counter - 2nd Floo</strong><br>
            <strong>Hours of Operation:</strong></p>
              <p style="float:left; margin-top:-16px;">Monday<br>
                Tuesday<br>
                Wednesday<br>
                Thursday<br>
                Friday</p>
                <p style="float:right; margin-top:-16px; margin-right:25px">7:30am - 4:30pm<br>
                  7:30am - 4:30pm<br>
                  9:00am - 4:30pm<br>
                  7:30am - 4:30pm<br>
                  7:30am - 4:30pm</p>
</div>
<div class="col-md-12 info" style="padding: 0px; margin-left:-10px;">
         <ul class="pub-counters" style="background-color: #A0A8A9;padding: 0px 10px 20px 30px;list-style:none;clear:left;display:block;width: 45%;margin-right: 36px;float:right;"  ng-Repeat="pubCounterValleyService in pubCounterValleyServices | toArray : false | filterWithOr:{queueName:['Planning Check-In','Planning Express']} track by $index">
         <li class="pub-header" style="font-weight: 600; padding-top: 15px;">{[{ pubCounterValleyService.queueName }]}</li>
<li><i class="fa fa-clock-o fa-1x" style="float: left;  padding-right: 11px; padding-bottom: 1px; font-size:20px;"></i>Current Wait Time:  {[{ pubCounterValleyService.actualWaitTime | time:'mm' }]}</li>
         <li><i class="fa fa-user-circle-o fa-1x fa-1x" style="float: left; padding-right: 11px;font-size: 1.1em;margin-top: 3px;"></i>{[{ pubCounterValleyService.numberOfTicketsWaiting }]} Person(s) Waiting</li>
</ul>
</div>
</div>

<div class="col-md-12" ng-controller="pubCounterWestlaCtrl" style="padding-left:0;">
  <div class="col-md-6" style="margin-left:-15px;margin-top:30px">
  <p><strong>West Los Angeles</strong><br>
  1828 Sawtelle Blvd.<br>
    2nd Floor<br>
    West Los Angeles, CA 90025<br>
    <strong><a href="https://www.google.com/maps/dir//1828+Sawtelle+Blvd,+Los+Angeles,+CA/@34.0434138,-118.4804847,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x80c2bb76ac95d6b9:0x40b5edc4d4c6da2f!2m2!1d-118.4453795!2d34.0433477" target="_blank">Get Directions</a></strong><br>
     TEL: 310-231-2901<br>
      FAX: </p>
    </div>
        <div class="col-md-6 col-xs-12 sub-head" style="margin-top:30px">
          <p><strong>Main Public Counter - 2nd Floor</strong><br>
            <strong>Hours of Operation:</strong></p>
              <p style="float:left; margin-top:-16px;">Monday<br>
          Tuesday<br>
          Wednesday<br>
          Thursday<br>
          Friday</p>
      <p style="float:right; margin-top:-16px; margin-right:25px">7:30am - 4:30pm<br>
            7:30am - 4:30pm<br>
            9:00am - 4:30pm<br>
            7:30am - 4:30pm<br>
            7:30am - 4:30pm</p>
</div>
<div class="col-md-12 info" style="padding: 0px; margin-left:-10px;">
          <ul class="pub-counters" style="background-color: #A0A8A9;padding: 0px 10px 20px 30px;list-style:none;clear:left;display:block;width: 45%;margin-right: 36px;float:right;" ng-Repeat="pubCounterWestlaService in pubCounterWestlaServices | toArray : false | filterWithOr:{queueName:['Planning Check-In','Planning Express']} track by $index">
          <li class="pub-header" style="font-weight: 600; padding-top: 15px;">{[{ pubCounterWestlaService.queueName }]}</li>
<li><i class="fa fa-clock-o fa-1x" style="float: left;  padding-right: 11px; padding-bottom: 1px; font-size:20px;"></i>Current Wait Time:  {[{ pubCounterWestlaService.actualWaitTime | time:'mm' }]}</li>
          <li><i class="fa fa-user-circle-o fa-1x fa-1x" style="float: left;  padding-right: 11px;font-size: 1.1em;margin-top: 3px;"></i>{[{ pubCounterWestlaService.numberOfTicketsWaiting }]} Person(s) Waiting</li>
</ul>
</div>

</div>
<div class="col-md-12" style="padding-left:0;">
      <div class="col-md-6" style="margin-left:-15px;margin-top:30px">
    <p><strong>Executive Offices</strong><br>
  Los Angeles City Hall<br>
    200 N. Spring Street<br>
    Suite 525<br>
  Los Angeles, CA 90012<br>
   TEL: 213-978-1271</p>
     </div>
   <div class="col-md-6 col-xs-12 sub-head" style="margin-top:30px">
   <strong>Hours of Operation:</strong></p>
     <p style="float:left; margin-top:-16px;">Monday<br>
          Tuesday<br>
          Wednesday<br>
          Thursday<br>
          Friday</p>
            <p style="float:right; margin-top:-16px; margin-right:25px">8:00am - 5:00pm<br>
            8:00am - 5:00pm<br>
            8:00am - 5:00pm<br>
            8:00am - 5:00pm<br>
            8:00am - 5:00pm</p>
</div>
</div>
</div>

{# Right-side bar #}
<div class="col-md-3 sidebar-menu hidden-sm hidden-xs">
  <div class="top-bar"></div>
  {{ page.side_menu }}

</div>{# End Right-side bar #}
</div>
</div>{# End container #} {# End Right-side bar #} <!-- // .container -->

<!-- footer section -->
{{ attach_library ('cpv3/jsonp-array') }}
{{ attach_library ('cpv3/public-counters') }}
{{ attach_library ('cpv3/angular-js') }}
{% include directory ~ '/partials/footer.html.twig' %}
<!-- <script>
function pageloadEvery(t) {
setTimeout('location.reload(true)', t);
}
</script>
<body onload="javascript:pageloadEvery(1*30000);"> -->
