    <!-- Fixed navbar -->
    {% include directory ~ '/partials/header.html.twig' %}

    {# page-banner #}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div id="page-title-bg"><img src="{{ theme_base_path }}/images/page-bg.jpg" class="img-responsive " alt="bg"></div>
            </div>
        </div>
    </div>{# End page-banner #}

        <!-- contain -->
    <div class="container" id="main-container">
        {# Main content #}
        <div class="row">
        	<div class="col-md-12"> <h1>{{ node.label }}</h1></div>
        </div>
        <div class="row">
            {# Left-side bar #}
            <div class="col-md-9">
                <div class="row padding-left0">
                    <div class="col-md-12">
                    	<p>Cras vestibulum eleifend iaculis. Nam felis lacus, scelerisque eu bibendum vel, accumsan et nunc. Aenean cursus commodo iaculis.
                    	Suspendisse ac turpis placerat eros pretium varius. Nam eget posuere lorem. Mauris eleifend, tellus at vestibulum laoreet, neque
                    	sapien fermentum massa, tempus imperdiet dolor risus at mauris. Donec eleifend arcu eget interdum maximus. Donec facilisis
                    	varius porta. Proin ac odio ex. </p>

                    	<div class="row padding-bottom30" id="cal-index">
                    		<div class="col-md-12">
                    			<div class="row padding-bottom10">
                    				<div class="col-md-4">
                    					<div id="ci-commission" >
                    						<span class="cal-commission" id="c"></span>
                    						<span class="padding-left-10">Commission</span>
                						</div>
                    				</div>
                    				<div class="col-md-4">
                    					<div id="ci-hearing" >
                    						<span class="cal-hearing" id="h" style="padding-top: 10px;"></span>
                    						<span class="padding-left-10">Hearing</span>
                						</div>
                    				</div>
                    				<div class="col-md-4">
                    					<div id="ci-apc">
                    						<span class="cal-apc" id="a"></span>
                    						<span class="padding-left-10">Area Planning Commissions</span>
                						</div>
                    				</div>
                    			</div>
                    			<div class="row">
                    				<div class="col-md-4">
                    					<div id="ci-community-events" >
                    						<span class="cal-community-events" id="ce"></span>
                    						<span class="padding-left-10">Community Events</span>
                						</div>
                    				</div>
                    				<div class="col-md-4">
                    					<div id="ci-zah" >
                    						<span class="cal-zah" id="zah"></span>
                    						<span class="padding-left-10">Zoning Administrator Hearing</span>
                						</div>
                    				</div>
                    				<div class="col-md-4">
                    					<div id="ci-ddah" >
                    						<span class="cal-ddah" id="daah" style="padding-top: 10px;"></span>
                    						<span class="padding-left-10">Deputy Advisory Agency Hearings</span>
                						</div>
                    				</div>
                    			</div>
                    		</div>
                    	</div>

                    	<div class="row cal-section">
                			<div class="col-md-12">
                				<div class="row">
                					<div class="col-md-12"><div id='loading'>loading...</div></div>
                				</div>
                				<div class="row">
                					<div id='calendar'></div>
            					</div>
                			</div>
                		</div>

                    </div>
                </div>
            </div>{# End Left-side bar #}

            {# Right-side bar #}
            <div class="col-md-3 sidebar-menu padding-right-27 visible-lg-block">
                <div class="top-bar"></div>
                  {{ page.side_menu }}
            </div>{# End Right-side bar #}
        </div>
    </div>{# End container #}


    <div class="container white--bg visible-xs-block visible-sm-block">
    	<div class="row">
    		{# Right-side bar #}
            <div class="col-md-12 sidebar-menu">
                <div class="top-bar"></div>
                  {{ page.side_menu }}
            </div>{# End Right-side bar #}
    	</div>
    </div>


    <!-- footer section -->
    {{ attach_library ('cpv3/calendar-detail') }}
    {% include directory ~ '/partials/footer.html.twig' %}