 {# page template #}
<!-- Fixed navbar -->
{% include directory ~ '/partials/header.html.twig' %} {# page-banner #}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">{{ page.top_banner }}</div>
	</div>
</div>
{# End page-banner #}

<!-- contain -->
<div class="container" id="main-container">
	{# Main content #}
	<div class="row">
		<div class="col-md-12" style="padding-left: 30px;">{{ page.title_bar }}</div>
	</div>

	<div class="row" style="padding-top: 35px; padding-bottom: 35px;">
        <div class="col-md-9 col-centered">
            <div class="row">
                <div class="col-md-12" id="org-background">
                    <div id="org-slider">
                        <div class="main-section" ng-app="myApp" ng-controller="myController">
                            
                            <div class="leaf leaf-1" style="padding-top: 25px; padding-bottom: 25px;" ng-repeat="member in list">
                            
                                <!-- Boss card -->
                                <div class="row" sytle="float: none; margin: 0 auto;">
                                    <div class="boss-card2">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">
                                            <img
                                                src="{{ theme_base_path }}/images/city-planning-bureaus/{[{member.avatar}]}"
                                                class="img-responsive img-circle" />
                                        </div>
                                        <div class="col-md-9">
                                            <h4 class="card-title">{[{member.name|camelize}]}</h4>
                                              <p class="card-text">{[{member.title|camelize}]}</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="clear"></div>
                                
                                <!-- Child card -->
                                <div class="row">
                                    <div class="col-md-12" style="padding-left: 125px;">
                                        
                                        <!-- child list -->
                                        <div class="row" ng-repeat="child in member.children">
                                            <div class="child-card">
                                                <div class="col-md-2 cursor-on" data-children="" data-filter="{[{child.name}]}" data-parent=""
                                                    style="padding-top: 15px; padding-bottom: 15px;" >
                                                    <img
                                                        src="{{ theme_base_path }}/images/city-planning-bureaus/{[{child.avatar}]}"
                                                        class="img-responsive img-circle" />
                                                </div>
                                                <div class="col-md-9">
                                                    <h4 class="card-title cursor-on" data-children="" data-filter="{[{child.name}]}" data-parent="">{[{child.name|camelize}]}</h4>
                                                    <p class="card-text">{[{child.title|camelize}]}</p>
                                                </div>
                                                <div class="col-md-1 next" data-children="" data-filter="{[{child.name}]}" data-parent="">
                                                    <i class="fa fa-angle-right fa-3x icon"></i>
                                                </div>
                                            </div>
                                        </div> <!-- // end child list -->
                                        
                                    </div> <!-- // end .col-md-12 -->
                                </div> <!-- // end .row -->
                                
                            </div> <!-- // end .leaf .leaf-1  -->
                            
                            <!-- Leaf 2 -->
                            <div class="leaf leaf-2" style="padding-top: 25px; padding-bottom: 25px;" ng-repeat="n in [] | range:10">
                                
                                <!-- Boss card -->
                                <div class="row">
                                    <div class="boss-card2">
                                       <div class="col-md-1 icon-prev">
                                             <span class="p-prev-icon"></span>
                                       </div>
                                      <div class="col-md-2">
                                           <img class="img-responsive img-circle p-avatar" src="" />
                                      </div>
                                      <div class="col-md-9">
                                          <div class="user-title">
                                           <h4 class="p-name card-title"></h4>
                                            <p class="p-title card-text"></p>
                                          </div> 
                                      </div>
                                    </div>
                                </div>
                                
                                <div class="clear"></div>
                                
                                <div class="row scrollStyle">
                                     <div class="col-md-12 child-info" style="padding-left: 125px; bottom: 60px; padding-top: 50px"></div>
                                </div>
                            
                            </div>
                            
                        </div> <!-- // end .main-section -->
                    </div> <!-- // end #org-slider -->

                </div>
            </div>
            
            <div class="clear"></div>
            
            <!-- footer -->
            <div class="row">
                <div class="col-md-12 footer-background">
                    <a href="{{ base_path }}about/organizational-chart-6" style="margin-left: 375px;">
				   <img src="{{ theme_base_path }}/images/city-planning-bureaus/Icons-Org-Chart_House-36.png" alt="home button"  />
				</a>
                </div>
            </div>
        </div><!-- // .col-md-9 .col-centered -->		

	</div>
</div>
{# End container #}


<!-- footer section -->
{{ attach_library('cpv3/organizational-chart6') }}
{{ attach_library('cpv3/angular-js') }}
{% include directory ~ '/partials/footer.html.twig' %}