    <!-- Fixed navbar -->
    {% include directory ~ '/partials/header.html.twig' %}

	{# page-banner #}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
				{{ page.top_banner }}
            </div>
        </div>
    </div>{# End page-banner #}

        <!-- contain -->
    <div class="container" id="main-container" ng-app="appPublication">
        {# Main content #}
        <div class="row">
        	<div class="col-md-12">{{ page.title_bar }}</div>
        </div>
        <div class="row" ng-controller="PublicationCtrl">
            {# Left-side bar #}
            <div class="col-md-9">
                <div class="row padding-left0">
                    <div class="col-md-12">
						{# content goes here #}
						<div class="row padding-left0">
							<div class="col-md-12">
								<p>The Department issues publications to keep stakeholders updated on important milestones and
								further engage community members on neighborhood specific issues and policies.</p>
							</div>
						</div>

						{# slider #}
						{{ page.pub_slider }}

						{# tab #}
						<div class="row padding-left0">
							<div class="col-md-12">
								<div id="commissions-tab">
                    				<ul class="nav nav-tabs" role="tablist">
                                		<li role="presentation" class="tab-line js-tab active"><a href="#1"  aria-controls="1" role="tab" data-toggle="tab" class="padding-left0">Planning Quarterly<br>Newsletter</a></li>
                                    	<li role="presentation" class="tab-line js-tab"><a href="#2"  aria-controls="2" role="tab" data-toggle="tab">Planning Annual<br>Report</a></li>
                                    	<li role="presentation" class="tab-line js-tab"><a href="#3"  aria-controls="3" role="tab" data-toggle="tab">Historic Resources<br>Newsletter</a></li>
                                    	<li role="presentation" class="js-tab"><a href="#4" aria-controls="4" role="tab" data-toggle="tab">
                                    		<i class="fa fa-search fa-2x" aria-hidden="true"></i><div class="pull-right" style="padding-left: 10px; margin-top: -7;">Search All<br>Publications...</div>
                                    	</a></li>
                                	</ul>

                                	 <div class="tab-content">
                                	 	<div role="tabpanel" class="tab-pane fade in active" id="1" style="padding-top: 10px;">
                                	 		<div class="row padding-left0">
                            	 				<div class="col-md-6">
                            	 					<div>
                            	 						<img src="{{ theme_base_path }}/images/nl-2.jpg" alt="newsletter" class="img-responsive">
                                        				<div><h6><a href="https://planning.lacity.org/Newsletters/2017Fall.pdf" target="_blank" rel="nofollow">2017 Annual Report</a></h6></div>
                            	 					</div>
                                            	</div>

                                            	<div class="col-md-6 pull-right" style="padding-right: 0px;">
                                            		<div class="pull-right">
                                            			<img src="{{ theme_base_path }}/images/nl-1.jpg" alt="newsletter" class="img-responsive">
                                        				<div><h6><a href="https://planning.lacity.org/documents/exec/2016_AnnualReport.pdf" target="_blank" rel="nofollow">2016 Annual Report</a></h6></div>
                            	 					</div>
                                            	</div>
                        	 				</div>
                                	 	</div> <!-- // end tabpanel 1 -->

                                	 	<div role="tabpanel" class="tab-pane fade" id="2" style="padding-top: 10px;">
                                	 		<div class="row padding-left0">
                            	 				<div class="col-md-6">
                            	 					<div>
                                            			<img src="{{ theme_base_path }}/images/nl-2.jpg" alt="newsletter" class="img-responsive">
                                            			<div><h6><a href="#">2017 Annual Report</a></h6></div>
                            	 					</div>
                                            	</div>

                                            	<div class="col-md-6" style="padding-right: 0px;">
                                            		<div class="pull-right">
                                            			<img src="{{ theme_base_path }}/images/nl-1.jpg" alt="newsletter" class="img-responsive">
                                            			<div><h6><a href="#">2016 Annual Report</a></h6></div>
                                            		</div>
                                            	</div>
                        	 				</div>
                                	 	</div> <!-- // end tabpanel 2 -->

                                	 	<div role="tabpanel" class="tab-pane fade" id="4" style="padding-top: 10px;">
                                	 		<div class="row padding-left0">
                            	 				<div class="col-md-12">
                            	 					<div class="row filter-search">
                                            			<div class="col-md-6">
                                            				<label>Filter by : </label>
                                            				<select ng-model="docType" style="height: 30px;">
                                            					<option ng-repeat="option in documentType.availableOptions" value="{[{ option.id }]}" ng-selected="docType == option.id">{[{ option.name }]}</option>
                                            				</select>
                                            			</div>
                                            			<div class="col-md-6">
                                            				<input ng-model="search" class="pull-right" type="text" placeholder="Filter search result ..."/>
                                            			</div>
                                        			</div>

                                        			<div class="row paddingtop10">
                                            			<div class="col-md-12">
                                            				<div class="table-responsive">
                                                                <table class="table table-hover">
                                                                    <colgroup>
                                                                        <col class="col-md-8">
                                                                        <col class="col-md-4">
                                                                    </colgroup>

                                                                    <thead>
                                                                        <tr>
                                                                            <th>Title</th>
                                                                            <th>Adopted/Effective Date</th>
                                                                        </tr>
                                                                    </thead>

                                                                    <tbody>
                                                                        <tr ng-repeat="publication in publications | filter: search">
                                                                            <td><a href="{[{ publication.externalDocumentUrl }]}" target="_blank"
                                                                            rel="nofollow"><span ng-bind="publication.title"></span></a></td>
                                                                            <td ng-bind="publication.adoptedEffectiveDate | date:'yyyy-MM-dd'"></td>
                                                                        </tr>

                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                            <div class="bottom "></div>

                                                            {#
                                                            <ul uib-pagination
                                                                ng-model="currentPage"
                                                                total-items="total"
                                                                items-per-page="pageSize"
                                                                max-size="noOfPages">
                                                            </ul uib-pagination>
                                                            #}
                                            			</div>
                            	 					</div>
                                            	</div>
                        	 				</div>
                                	 	</div> <!-- // end tabpanel 4 -->

                                	 </div>

                            	</div><!-- //End #commissions-tab -->
							</div>
						</div>


                    </div>
                </div>
            </div>{# End Left-side bar #}

            {# Right-side bar #}
            <div class="col-md-3 sidebar-menu padding-right-27 visible-lg-block">
                <div class="top-bar"></div>
                  {{ page.side_menu }}
            </div>{# End Right-side bar #}
        </div>
    </div>{# End container #}

    <div class="container white--bg visible-xs-block visible-sm-block">
    	<div class="row">
    		{# Right-side bar #}
            <div class="col-md-12 sidebar-menu">
                <div class="top-bar"></div>
                  {{ page.side_menu }}
            </div>{# End Right-side bar #}
    	</div>
    </div>

    <!-- footer section -->
    {{ attach_library ('cpv3/publications') }}
    {{ attach_library ('cpv3/angular-js') }}
    {% include directory ~ '/partials/footer.html.twig' %}