    <!-- Fixed navbar -->
    {% include directory ~ '/partials/header.html.twig' %}
    
    <!-- page-banner -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div id="page-title-bg"><img src="{{ theme_base_path }}/images/page-bg.jpg" class="img-responsive " alt="bg"></div>
			</div>
		</div>
	</div><!-- //End page-banner -->
	
	<div class="container" id="main-container" ng-app="appStaffDirectory" ng-controller="staffDirectoryCtrl">
		<div class="row">
			<div class="col-md-12"><h1>{{ node.label }}</h1></div>
        </div>
        

		<div class="row">
            {# Left-side bar #}
            <div class="col-md-9">
            	<div class="row">
                	<div class="col-md-12 padding-left0">
                		<p>
                			Approaching nearly 400 employees strong, the City of Los Angeles is the largest Planning Department in the nation. 
                			Search below by name or assignment to find the staff memeber who can further assist you.
                		</p>
            		</div>
                </div>
        
                <div class="row padding-left0">
                    <div class="col-md-12 padding-left0">
						<!-- search our directories -->
                    	<div class="row">
                    		<div class="col-md-12 search-directories" id="search-directories">
                    			<h3>Search Our Directories</h3>
				        		<label for="search_text" class="sr-only">Enter: Department, Employee Name, or Assignment</label>
				        		<input type="text" class="form-control" id="search_text" placeholder="Enter: Employee Name, Department or Phone" ng-model="staffName"/>

                    		</div>
                    	</div> 
                    	
                    	<div class="row paddingtop15" id="sr">
                    		<div class="col-md-12 table-responsive">
                    			<table class="table table-condensed sd-search-result">
                    				<tr>
                    					<th>Name</th>
                    					<th>Phone</th>
                    					<th>Email</th>
                    					<th>Department</th>
                    				</tr>
                    				<tr ng-repeat="v in data.people | filter : staffName">
                    					<td>{[{ v.name }]}</td>
                    					<td>{[{ v.phone }]}</td>
                    					<td>{[{ v.email | lowercase }]}</td>
                    					<td>{[{ v.dept }]}</td>
                    				</tr>
                    			</table>
						        
                    		</div>
                    	</div>
                    	
                    	<!-- Helpfull Numbers -->
                    	<div class="row">
		        			<div class="col-md-12">
		        				<h3 class="line" style="padding-bottom: 5px;">Helpful Numbers</h3>
		        				<ul class="padding-left0">
		        					<li>
		        						<div class="row  padding-left0">
		        							<div class="col-md-9">Automated Records</div> 
		        							<div class="col-md-3 float-right" style="padding-left: 30px;">(213) 978-1259</div>
	        							</div>
        							</li>
		        					<li>
		        						<div class="row  padding-left0">
		        							<div class="col-md-9">Development Services Center (Metro)</div> 
		        							<div class="col-md-3 float-right"  style="padding-left: 30px;" >(213) 978-1259</div>
		        						</div>
	        						</li>
		        					<li>
		        						<div class="row  padding-left0">
		        							<div class="col-md-9">Development Services Center (Valley)</div> 
		        							<div class="col-md-3 float-right"  style="padding-left: 30px;">(818) 374-5050</div>
	        							</div>
        							</li>
		        					<li>
		        						<div class="row  padding-left0">
		        							<div class="col-md-9">Development Services Center (West LA)</div> 
		        							<div class="col-md-3 float-right"  style="padding-left: 30px;">(310) 231-2901</div>
	        							</div>
        							</li>
		        					<li>
		        						<div class="row  padding-left0">
		        							<div class="col-md-9">Executive Office</div> 
		        							<div class="col-md-3 float-right"  style="padding-left: 30px;">(213) 978-1271</div>
	        							</div>
        							</li>
		        				</ul>
		        			</div>
	        			</div>
	        			
	        			<!-- Department directory -->
	        			<div class="row" id="staff-directory">
           		  			<div class="col-md-12">
		        				<h3 class="line">Department Numbers</h3>
		        				 <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
									  
							  		<div class="panel panel-default" ng-repeat="val in data.depts">
									    
									    <div class="panel-heading" role="tab" id="heading{[{ $index }]}">
									      <h4 class="panel-title">
									        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{[{ $index }]}" aria-expanded="true" aria-controls="collapse{[{ $index }]}">
									          {[{ val.sectionName }]}
									        </a>
									      </h4>
									    </div>
									    
									    <div id="collapse{[{ $index }]}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{[{ $index }]}">
									      <div class="panel-body">
									        <div class="row sd-search-result hr" ng-repeat="p in val.people | orderBy : 'name'">
									        	<div class="col-md-5">{[{ p.name }]}</div>
									        	<div class="col-md-3">{[{ p.phone }]}</div>
									        	<div class="col-md-4">{[{ p.email|lowercase }]}</div>
									        </div>
									      </div>
									    </div>
							  		</div>
								</div>
		        				
		        			</div>
	        			</div>
        			</div>
                </div>
            </div>{# End Left-side bar #}

            {# Right-side bar #}
            <div class="col-md-3 sidebar-menu padding-right-27 visible-lg-block">
                <div class="top-bar"></div>
                  {{ page.side_menu }}
            </div>{# End Right-side bar #}
        </div>
	</div> <!-- // .container -->

	<div class="container-fluid section-content">
		<div class="row white--bg paddingtop10 padding-bottom10">
			<div class="col-md-12 contact-page--p-bg"><div style="margin-top: 250px;"><center>
				<span style="padding-right:50px;"><a href="{{ base_path }}projects/public-counters" type="button" class="btn btn-yellow btn-lg">LOCATIONS AND HOURS</a></span>
				</center></div>
			</div>
		</div>
	</div>

    <!-- footer section -->
    {{ attach_library ('cpv3/staff-directory') }}
    {{ attach_library ('cpv3/angular-js') }}
    {% include directory ~ '/partials/footer.html.twig' %}