    {# page template #}
    
    <!-- Fixed navbar -->
    {% include directory ~ '/partials/header.html.twig' %}

	{# page-banner #}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
				<div id="page-title-bg" style="background-image: url('{{ file_url(node.field_image.entity.fileuri) }}')"></div>
            </div>
        </div>
    </div>{# End page-banner #}

    <!-- contain -->
    <div class="container" id="main-container">
        {# Main content #}
        <div class="row">
        	<div class="col-md-12">{{ page.title_bar }}</div>
        </div>
        <div class="row content-wrapper">
        
            {% if page.side_menu %}
            	{# Left-side bar #}
	            <div class="col-md-9">
	                <div class="row padding-left0">
	                    <div class="col-md-12">
							{# content goes here #}
							{{ page.content }}
							
							<h3 class="paddingtop15">HPOZ Zones</h3>							
							<div class="panel-group" id="overlays">
                                <div class="panel panel-default collapse-list">
                                    <div class="panel-heading">
                                        <h6 class="panel-title">
                                            <a class="title" data-toggle="collapse" href="#collapse7">View Full List of HPOZs</a>
                                        </h6>
                                    </div>

                                    <div id="collapse7" class="panel-collapse collapse">
                                         <ul class="list-group">
                                            {% for item in overlays['Historic Preservation Overlay Zones (HPOZs)']  %}
                                            <li><a href="{{ item.url }}">{{ item.title}}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
	                    </div>
	                    
	                    <div class="col-md-12 paddingtop15">
	                    	<p>
                          		<strong>Each HPOZ Board</strong> consists of five to seven members appointed by the Mayor, the City Councilmember representing the area, the City’s Cultural Heritage 
                              	Commission, and the Board itself. A majority of the members must live within the HPOZ, one member must have extensive real estate or construction 
                              	experience, one must be a licensed architect, and all should have knowledge of and interest in the culture, history and architecture of the HPOZ area.
                              	HPOZ Boards, in addition to their formal role in reviewing process as an advisory body to the Department of City Planning, serve as an informal source 
                              	of technical expertise and guidance. Board members often offer property owners excellent advice on cost-effective ways to remodel their properties 
                              	to maintain and enhance their historic character, and may even suggest local contractors and craftspersons who have worked on similar rehabilitation 
                          		projects.
                          	</p>
                          
                          	<p>Board meetings occur twice monthly and are subject to cancellation if a quorum cannot be met or if no agenda items are pending.</p>  
                        </div>
                        
                        <div class="col-md-12 paddingtop15">
                        	<h3 class="padding-bottom15">HPOZ Board Calendar</h3>
                        	<div id='loading'>loading...</div>
                        	<div id='hpozs-calendar'></div>
                        </div>
                        
	                </div>
	            </div>{# End Left-side bar #}
            
	            {# Right-side bar #}
	            <div class="col-md-3 sidebar-menu hidden-sm hidden-xs">
	                <div class="top-bar"></div>
	                  {{ page.side_menu }}
	            </div>{# End Right-side bar #}

            {% endif %} 
            
        </div>
    </div>{# End container #}
    
    <!-- footer section -->
    {{ attach_library ('cpv3/hpozs-calendar') }}
    {% include directory ~ '/partials/footer.html.twig' %}