    <!-- Fixed navbar -->
    {% include directory ~ '/partials/header.html.twig' %}

	{# page-banner #}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
				{{ page.top_banner }}
            </div>
        </div>
    </div>{# End page-banner #}

        <!-- contain -->
    <div class="container" id="main-container" ng-app="appPublication">
        {# Main content #}
        <div class="row">
        	<div class="col-md-12">{{ page.title_bar }}</div>
        </div>
        <div class="row content-wrapper" ng-controller="PublicationCtrl">
            {# Left-side bar #}
            <div class="col-md-9">
                <div class="row padding-left0">
                    <div class="col-md-12">
						{# content goes here #}
						<div class="row padding-left0">
							<div class="col-md-12">
								<p>The City Planning Department issues publications to keep neighborhood and business interests updated on important milestones, in addition to furthering engagement efforts on specific issues and policies. Referenced below are some of the Department's reoccurring publications. For questions, comments, or reprint requests, please contact Rayna Plummer by email <a target="_top" href="mailto:rayna@plummer@lacity.org">rayna@plummer@lacity.org</a> or phone (213) 978-1234.</p>
							</div>
						</div>

						{# slider #}
						{{ page.pub_slider }}

						{# tab #}
						<div class="row padding-left0">
						    <div class="col-md-12">
						        <div id="commissions-tab" class="sizer">
                                    <ul class="nav nav-tabs" role="tablist">
                                     {% for item in publication_categories %}
                                         {% if loop.index == 1 %}
                                             {%  set active_class = 'active' %}
                                             {% set class = 'padding-left0'  %}
                                         {% else %}
                                             {% set active_class = ''  %}
                                             {% set class = ''  %}
                                         {% endif %}
                                        <li role="presentation" class="padding-top0 {{ (loop.last) ? '' : 'tab-line' }} js-publication-tab {{ active_class }}">
                                            <a href="#{{ item.counter }}" id="{{ item.id }}" aria-controls="{{ item.counter }}" role="tab" data-toggle="tab" class="{{ class }}">
                                                {{ item.first_name}}<br>
                                                {{ item.last_name}}
                                            </a>
                                        </li>
                                    {% endfor %}
							 
                                  {# REMOVED
                                      <li role="presentation" class="tab-line js-publication-tab">
                                            <a href="#4" aria-controls="4"  id="4" role="tab" data-toggle="tab">
                                                <i class="fa fa-search fa-2x" aria-hidden="true"></i>
                                                <div class="pull-right" style="padding-left: 10px; margin-top: -7;">
                                                    Search All<br>Publications...
                                                </div>
                                        </a></li>
                                        #}
                                    </ul>

                                     <div id="publication-tabs">
                                           <div id="js-content" class="publication-data">
                                               {{ page.publications }}
                                           </div>

                                             <!-- tab 4 -->
                                             <div id="4" class="publication-data js-tab4 hidden">
	                                            <div class="row padding-left0">
	                                                <div class="col-md-12">
	                                                    <div class="row filter-search">
	                                                        <div class="col-md-6">
	                                                            <label>Filter by : </label>
	                                                            <select ng-model="docType" style="height: 30px;">
	                                                                <option ng-repeat="option in documentType.availableOptions" value="{[{ option.id }]}" ng-selected="docType == option.id">{[{ option.name }]}</option>
	                                                            </select>
	                                                        </div>
	                                                        <div class="col-md-6">
	                                                            <input ng-model="search" class="pull-right" type="text" placeholder="Filter search result ..."/>
	                                                        </div>
	                                                    </div>

	                                                    <div class="row paddingtop10">
	                                                        <div class="col-md-12">
	                                                            <div class="table-responsive">
	                                                                <table class="table table-hover">
	                                                                    <colgroup>
	                                                                        <col class="col-md-8">
	                                                                        <col class="col-md-4">
	                                                                    </colgroup>

	                                                                    <thead>
	                                                                        <tr>
	                                                                            <th>Title</th>
	                                                                            <th>Adopted/Effective Date</th>
	                                                                        </tr>
	                                                                    </thead>

	                                                                    <tbody>
	                                                                        <tr dir-paginate="publication in data | filter: search | itemsPerPage: pageSize" current-page="currentPage">
	                                                                            <td><a href="{[{ publication.externalDocumentUrl }]}" target="_blank"
	                                                                            rel="nofollow"><span ng-bind="publication.title"></span></a></td>
	                                                                            <td ng-bind="publication.adoptedEffectiveDate | date:'yyyy-MM-dd'"></td>
	                                                                        </tr>
	                                                                    </tbody>
	                                                                </table>
	                                                            </div>

	                                                            <div class="bottom "></div>

	                                                            <dir-pagination-controls boundary-links="false">
	                                                                <ul class="pagination" ng-if="1 < pages.length || !autoHide">
	                                                                    <li ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == 1 }">
	                                                                        <a href="" ng-click="setCurrent(1)">&laquo;</a>
	                                                                    </li>
	                                                                    <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }">
	                                                                        <a href="" ng-click="setCurrent(pagination.current - 1)">&lsaquo;</a>
	                                                                    </li>
	                                                                    <li ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }">
	                                                                        <a href="" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
	                                                                    </li>

	                                                                    <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }">
	                                                                        <a href="" ng-click="setCurrent(pagination.current + 1)">&rsaquo;</a>
	                                                                    </li>
	                                                                    <li ng-if="boundaryLinks"  ng-class="{ disabled : pagination.current == pagination.last }">
	                                                                        <a href="" ng-click="setCurrent(pagination.last)">&raquo;</a>
	                                                                    </li>
	                                                                </ul>
	                                                            </dir-pagination-controls>


	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div> <!-- // end tabpanel 4 -->
                                    </div><!-- // end tabpanel 1 -->

                                 </div><!-- //End #commissions-tab -->
						    </div>
						</div>

                    </div>
                </div>
            </div>{# End Left-side bar #}

            {# Right-side bar #}
            <div class="col-md-3 sidebar-menu padding-right-27 visible-lg-block">
                <div class="top-bar"></div>
                  {{ page.side_menu }}
            </div>{# End Right-side bar #}
        </div>
    </div>{# End container #}


    <!-- footer section -->
    {{ attach_library ('cpv3/publications') }}
    {{ attach_library ('cpv3/angular-js') }}
    {% include directory ~ '/partials/footer.html.twig' %}
