    <!-- Fixed navbar -->
    {% include directory ~ '/partials/header.html.twig' %}

	{# page-banner #}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
				{{ page.top_banner }}
            </div>
        </div>
    </div>{# End page-banner #}

        <!-- contain -->
    <div class="container" id="main-container" ng-app="appOrdinances">
        {# Main content #}
        <div class="row">
        	<div class="col-md-12">{{ page.title_bar }}</div>
        </div>
        <div class="row content-wrapper" ng-controller="proposedOrdinanceCtrl">

            <div class="col-md-9">
                <div class="row padding-left0">
                    <div class="col-md-12">

						<div class="row padding-left0">
							<div class="col-md-12">

            <p>Planning departments transform the appearances of cities and the everyday lives of their residents. Through the development of land use policies and ordinances, the City Planning Department is able to shape the interactions between people and neighborhoods across Los Angeles.</p>
            <p>Listed below are all of the proposed planning ordinances currently under consideration. Each summary links to a draft of the ordinance and other supporting materials. Proposed ordinances represented by a staff point of contact include a phone number and email address. </p>
            <p>The Office of the City Clerk is the repository for all adopted and proposed ordinances. For a full list, use the Ordinance Search tab at <a href="https://cityclerk.lacity.org/lacityclerkconnect/">LACityClerk Connect</a>.</p>
							</div>
						</div>

						<hr>

						<div class="row padding-bottom30" >
							<div class="col-md-offset-8 col-md-4 col-xs-12" id="content-search">
   								<input ng-model="filterdata" placeholder="Search" />
   							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div ng-disabled="enable=='false'">
	               					<center ng-show="loadingText == 'Loading ...'"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i><span class="sr-only">Loading...</span></center>
	               				</div>
							</div>
						</div>

						<div ng-if="data.length > 0">
							<div class="row padding-left0 padding-right0" ng-repeat="val in data | filter:filterdata | startFrom:(currentPage - 1) * pageSize | limitTo: pageSize">
								<div class="col-md-12">
									<div>
										<h5 class="padding-top0" ng-bind-html="val.title"></h5>
										<div class="date" style="font-size: 12px;">
											<span class="glyphicon glyphicon-time" aria-hidden="true"></span> {[{ val.date }]}
										</div>
									</div>
									<div class="paddingtop15" ng-bind-html="val.body"></div>
								</div>
								<div class="col-md-12"><hr /></div>
							</div>

							<div class="row">
								<div class="col-md-12" id="a-pagination">
									<ul uib-pagination
	                                    total-items="total"
	                                    ng-model="currentPage"
	                                    max-size="noOfPages"
	                                    items-per-page="pageSize"
	                                    class="pagination-sm"
	                                    boundary-link-numbers="true"
	                                    rotate="true">
	                                </ul>
								</div>
							</div>
						</div>

						<div ng-if="data.length < 1">
							<div class="row padding-left0 padding-right0">
								<div class="col-md-12">
									<strong>No record found!</strong>
								</div>
							</div>
                   		</div>

                    </div>
                </div>
            </div>

            {# Right-side bar #}
            <div class="col-md-3 sidebar-menu hidden-sm hidden-xs">
                <div class="top-bar"></div>
                  {{ page.side_menu }}
            </div>{# End Right-side bar #}
        </div>
    </div>{# End container #}


    <!-- footer section -->
    {{ attach_library ('cpv3/proposed-ordinances') }}
    {{ attach_library ('cpv3/angular-js') }}
    {% include directory ~ '/partials/footer.html.twig' %}
