    <!-- Fixed navbar -->
    {% include directory ~ '/partials/header.html.twig' %}

	{# page-banner #}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
				{{ page.top_banner }}
            </div>
        </div>
    </div>{# End page-banner #}

        <!-- contain -->
    <div class="container" id="main-container" ng-app="appLatestCases" ng-controller="latestCaseCtrl">
        {# Main content #}
        <div class="row">
        	<div class="col-md-12">{{ page.title_bar }}</div>
        </div>
        <div class="row content-wrapper">

            <div class="col-md-9">
                <div class="row padding-left0">
                    <div class="col-md-12">
						{% if page.content %}
						<div class="row">
							<div class="col-md-12">
                                {{ page.content }}
							</div>
						</div>
						{% endif %}

						<div class="row">
                            <div class="col-md-12">
                                <div ng-disabled="enable=='false'">
                                    <center ng-show="loadingText == 'Loading ...'"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i><span class="sr-only">Loading...</span></center>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
							<div class="col-md-12 col-xs-12 padding-left0 padding-right0">
								<div class="row padding-bottom25 padding-top5">
									<div class="col-md-offset-8 col-md-4 col-xs-12" id="content-search">
										<input ng-model="lastestCases" placeholder="Search case" />
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12 padding-left0 padding-right0 table-responsive">
								<table class="table table-hover">
                                    <colgroup>
                                    	<col class="col-md-1">
                                      	<col class="col-md-2">
                                    	<col class="col-md-2">
                                      	<col class="col-md-1">
                                    </colgroup>

                                    <thead>
                                        <tr>
                            				<th>Date</th>
                            				<th>Case Number</th>
                            				<th>Address</th>
                            				<th>Detail</th>
                            			</tr>
                                    </thead>

                                    <tr ng-if="data.length > 0" ng-repeat= "val in data | filter:lastestCases | startFrom:(currentPage - 1) * pageSize | limitTo: pageSize" >
                            			<td>{[{ val.date | date: 'MM-dd-yyyy' }]}</td>
                            			<td>{[{ val.caseNum }]}</td>
                            			<td>{[{ val.address }]}</td>
                            			<td><span ng-if="val.url"><a href="{[{val.url}]}" target="_blank"><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i></a></span></td>
                            		</tr>

                            		<tr ng-if="data.length < 1">
                            			<td colspan="2">No record!</td>
                            		</tr>
                                </table>
							</div>
							
							<div class="col-md-12">
    							<div class="bottom"></div>							
							</div>
							
							<div class="col-md-12">
								{# pagination #}
    							<ul uib-pagination ng-model="currentPage" total-items="total"
    								items-per-page="pageSize" max-size="noOfPages">
    							</ul uib-pagination>
							</div>
						</div>

                    </div>
                </div>
            </div>

            {# Right-side bar #}
            <div class="col-md-3 sidebar-menu hidden-sm hidden-xs">
                <div class="top-bar"></div>
                  {{ page.side_menu }}
            </div>{# End Right-side bar #}
        </div>
    </div>{# End container #}


    <!-- footer section -->
    {{ attach_library ('cpv3/lastest-cases') }}
    {{ attach_library ('cpv3/angular-js') }}
    {% include directory ~ '/partials/footer.html.twig' %}