    <!-- Fixed navbar -->
    {% include directory ~ '/partials/header.html.twig' %}

	{# page-banner #}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
				{{ page.top_banner }}
            </div>
        </div>
    </div>{# End page-banner #}

        <!-- contain -->
    <div class="container" id="main-container">
        {# Main content #}
        <div class="row">
        	<div class="col-md-12">{{ page.title_bar }}</div>
        </div>
        <div class="row">
            {# Left-side bar #}
            <div class="col-md-9">
                <div class="row padding-left0">
                    <div class="col-md-12">
						{# content goes here #}
						{{ page.block_eir }}
						{{ page.content }}
                    </div>
                </div>
            </div>{# End Left-side bar #}

            {# Right-side bar #}
            <div class="col-md-3 sidebar-menu padding-right-27 visible-lg-block">
                <div class="top-bar"></div>
                  {{ page.side_menu }}
            </div>{# End Right-side bar #}
        </div>
    </div>{# End container #}
    
    <!-- 
    <div class="container white--bg visible-xs-block visible-sm-block">
    	<div class="row">
    		{# Right-side bar #}
            <div class="col-md-12 sidebar-menu">
                <div class="top-bar"></div>
                  {#{ page.side_menu }#}
            </div>{# End Right-side bar #}
    	</div>
    </div>
 	-->
    <!-- footer section -->
    {% include directory ~ '/partials/footer.html.twig' %}