<!-- Fixed navbar -->
{% include directory ~ '/partials/header.html.twig' %}

{# page-banner #}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div id="page-title-bg" style="background-image: url('{{ file_url(node.field_image.entity.fileuri) }}')"></div>
    </div>
  </div>
</div>
{# End page-banner #}

<!-- contain -->
<div class="container" id="main-container-calendar">
  {# Main content #}
  <div class="row">
    <div class="col-md-12">
      <h1>{{ node.label }}</h1>
    </div>
  </div>
  
  <div class="row content-wrapper">
    <div class="col-md-9">
      <div class="row padding-left0">
        <div class="col-md-12">
          {{ page.content }}
          
          <div class="row" id="cal-index" >
    		<div class="col-md-12 padding-left0 padding-right0">
    			<div class="row padding-bottom10">
    				<div class="col-md-3 col-xs-6 cal-indexes">
    					<div id="ci-hearing" >
    						<span class="cal-cat-hearing" id="h"></span>
    						<span class="padding-left-5">Hearing</span>
						</div>
    				</div>
    				
    				<div class="col-md-3 col-xs-6 cal-indexes">
    					<div id="ci-apc">
    						<span class="cal-cat-apc" id="a"></span>
    						<span class="padding-left-5">Area Planning Commissions</span>
						</div>
    				</div>
    				
    				<div class="col-md-3 col-xs-6 cal-indexes" >
    					<div id="ci-community-event" >
    						<span class="cal-cat-community-event" id="ce"></span>
    						<span class="padding-left-5">Community Events</span>
						</div>
    				</div>

    				<div class="col-md-3 col-xs-6 cal-indexes" >
    					<div id="ci-info-session" >
    						<span class="cal-cat-info-session" id="is"></span>
    						<span class="padding-left-5">Information Session</span>
						</div>
    				</div>
    				
    			</div>
    			<div class="row padding-bottom10">
    				
    				<div class="col-md-3 col-xs-6 cal-indexes" >
    					<div id="ci-open-house" >
    						<span class="cal-cat-open-house" id="oh"></span>
    						<span class="padding-left-5">Open House</span>
						</div>
    				</div>
    				
    				<div class="col-md-3 col-xs-6 cal-indexes" >
    					<div id="ci-planning-workshop" >
    						<span class="cal-cat-planning-workshop" id="pw"></span>
    						<span class="padding-left-5">Planning Workshop</span>
						</div>
    				</div>
    				
    				<div class="col-md-3 col-xs-6 cal-indexes" >
    					<div id="ci-drop-in-hours" >
    						<span class="cal-cat-drop-in-hours" id="dih"></span>
    						<span class="padding-left-5">Drop-In Hours</span>
						</div>
    				</div>
    				
    				<div class="col-md-3 col-xs-6 cal-indexes" >
    					<div id="ci-hpoz-event" >
    						<span class="cal-cat-hpoz-event" id="hpoze"></span>
    						<span class="padding-left-5">HPOZ Event</span>
						</div>
    				</div>
    			</div>
    		</div>
		</div>

          <div class="row cal-section">
            <div class="col-md-12 paddingtop15">
              <div class="row">
                <div class="col-md-12">
                  <div id='loading'>loading...</div>
                </div>
              </div>
              <div class="row padding-left-5 padding-right0">
                <div id='calendar'></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 padding-left0">
          <a href="{{ base_path }}about/commissions-boards-hearings">
          	<img class="img-responsive paddingtop35" src="{{ theme_base_path }}/images/i-commissions-boards-hearings.png"  
          		alt="access commissions, boards and hearings"/></a>
        </div>
      </div>
    </div>

    {# Right-side bar #}
    <div class="col-md-3 sidebar-menu hidden-sm hidden-xs">
      <div class="top-bar"></div>
      {{ page.side_menu }}
    </div>
    {# End Right-side bar #}
  </div>
</div>
{# End container #}

<!-- footer section -->
{{ attach_library ('cpv3/calendar-detail') }}
{% include directory ~ '/partials/footer.html.twig' %}