    <!-- Fixed navbar -->
    {% include directory ~ '/partials/header.html.twig' %}

	{# page-banner #}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
				{{ page.top_banner }}
            </div>
        </div>
    </div>{# End page-banner #}

        <!-- contain -->
    <div class="container" id="main-container" ng-app="appPublication">
        {# Main content #}
        <div class="row">
        	<div class="col-md-12">{{ page.title_bar }}</div>
        </div>
        <div class="row content-wrapper" ng-controller="PublicationCtrl">
            {# Left-side bar #}
            <div class="col-md-9">
                <div class="row padding-left0">
                    <div class="col-md-12">
						{# content goes here #}
						<div class="row padding-left0">
							<div class="col-md-12">
								{{ page.content }}
							</div>
						</div>

						{# slider #}
						{{ page.pub_slider }}

						{# tab #}
						<div class="row padding-left0">
						    <div class="col-md-12">
						        <div id="publication-tab" class="sizer">
                                    <ul class="nav nav-tabs" role="tablist">
                                     {% for item in publication_categories %}
                                         {% if loop.index == 1 %}
                                             {%  set active_class = 'active' %}
                                             {% set class = 'padding-left0'  %}
                                         {% else %}
                                             {% set active_class = ''  %}
                                             {% set class = ''  %}
                                         {% endif %}
                                        <li role="presentation" class="padding-top0 tab-line js-publication-tab {{ active_class }}">
                                            <a href="#{{ item.counter }}" id="{{ item.id }}" aria-controls="{{ item.counter }}" role="tab" data-toggle="tab" class="{{ class }}">
                                                {{ item.first_name}}<br>
                                                {{ item.last_name}}
                                            </a>
                                        </li>
                                    {% endfor %}
							 
                                     <li role="presentation" class="js-publication-tab">
                                        <a href="#5" aria-controls="5"  id="5" role="tab" data-toggle="tab">
                                            <i class="fa fa-search fa-2x" aria-hidden="true" style="margin-top: 5px;"></i>
                                            <div class="pull-right" style="padding-left: 10px;">
                                                Search All<br>Publications
                                            </div>
                                        </a>
                                     </li>
                                    </ul>

                                     <div id="publication-tabs">
                                           <div id="js-content" class="publication-data">
                                               {{ page.publications }}
                                           </div>

                                             <!-- tab 5 -->
                                             <div id="5" class="publication-data js-tab4 hidden">
	                                            <div class="row padding-left0">
	                                                <div class="col-md-12">
	                                                    <div class="row content-search">
	                                                        <div class="col-md-6">
	                                                            <label>Filter by : </label>
	                                                            <select ng-model="docType" style="height: 30px;">
	                                                                <option ng-repeat="option in documentType.availableOptions" value="{[{ option.id }]}" ng-selected="docType == option.id">{[{ option.name }]}</option>
	                                                            </select>
	                                                        </div>
	                                                        <div class="col-md-6" id="content-search">
	                                                            <input ng-model="search" class="pull-right" type="text" placeholder="Filter search result ..."/>
	                                                        </div>
	                                                    </div>

	                                                    <div class="row paddingtop10">
	                                                        <div class="col-md-12 padding-left0 padding-right0">
	                                                            <div class="table-responsive">
	                                                                <table class="table table-hover">
	                                                                    <colgroup>
	                                                                        <col class="col-md-8">
	                                                                        <col class="col-md-4">
	                                                                    </colgroup>

	                                                                    <thead>
	                                                                        <tr>
	                                                                            <th>Title</th>
	                                                                            <th>Adopted/Effective Date</th>
	                                                                        </tr>
	                                                                    </thead>

	                                                                    <tbody>
	                                                                        <tr dir-paginate="publication in data | filter: search | itemsPerPage: pageSize" current-page="currentPage">
	                                                                            <td>
	                                                                            	<a href="{[{ publication.document_link }]}" target="_blank" rel="nofollow">
	                                                                            		<span ng-bind="publication.title"></span>
                                                                            		</a>
                                                                        		</td>
	                                                                            {# <td ng-bind="publication.created"></td> #}
	                                                                            <td>-</td>
	                                                                        </tr>
	                                                                    </tbody>
	                                                                </table>
	                                                            </div>

	                                                            <div class="bottom "></div>

	                                                            <dir-pagination-controls boundary-links="false">
	                                                                <ul class="pagination" ng-if="1 < pages.length || !autoHide">
	                                                                    <li ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == 1 }">
	                                                                        <a href="" ng-click="setCurrent(1)">&laquo;</a>
	                                                                    </li>
	                                                                    <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }">
	                                                                        <a href="" ng-click="setCurrent(pagination.current - 1)">&lsaquo;</a>
	                                                                    </li>
	                                                                    <li ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }">
	                                                                        <a href="" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
	                                                                    </li>

	                                                                    <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }">
	                                                                        <a href="" ng-click="setCurrent(pagination.current + 1)">&rsaquo;</a>
	                                                                    </li>
	                                                                    <li ng-if="boundaryLinks"  ng-class="{ disabled : pagination.current == pagination.last }">
	                                                                        <a href="" ng-click="setCurrent(pagination.last)">&raquo;</a>
	                                                                    </li>
	                                                                </ul>
	                                                            </dir-pagination-controls>

	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div> <!-- // end tabpanel 5 -->
                                    </div><!-- // end tabpanel 1 -->

                                 </div><!-- //End #publication-tab -->
						    </div>
						</div>

                    </div>
                </div>
            </div>{# End Left-side bar #}

            {# Right-side bar #}
            <div class="col-md-3 sidebar-menu padding-right-27 visible-lg-block">
                <div class="top-bar"></div>
                  {{ page.side_menu }}
            </div>{# End Right-side bar #}
        </div>
    </div>{# End container #}


    <!-- footer section -->
    {{ attach_library ('cpv3/publications') }}
    {{ attach_library ('cpv3/angular-js') }}
    {% include directory ~ '/partials/footer.html.twig' %}
