<!-- Fixed navbar -->
{% include directory ~ '/partials/header.html.twig' %}

<div class="container-fluid">
  <div class="row">

    <div class="col-md-12">
      <div id="page-title-bg" style="background-image: url('{{ file_url(node.field_image.entity.fileuri) }}')"></div>
    </div>
  </div>
</div>
<!-- //End page-banner -->

<!-- container -->
<div class="container" id="main-container">
  <!-- Main content -->
  <div class="row">
    {{ drupal_entity('block', 'cpv3_local_tasks') }}
    <div class="col-md-12">
      <h1>{{ node.label }}</h1>
    </div>
  </div>

  <div class="row content-wrapper">
    <div class="col-md-9" id="cms-content">
    <!-- Left-side bar -->

    <!-- adds conditional based on Venice in URL for VENICE TEMPLATE only -->
    {% set url = url('<current>') %}
    {% if 'venice-news-item' in url|render|render %}

    {{ node.body.value|raw }}
      {% set full_width_data = [] %}
      {% set small_width_data = [] %}
      {% set break = true %}

      {% for parag_id in node.field_content_section.value %}
      {% set data = bamboo_render_entity('paragraph', parag_id['target_id']) %}
      {% if data['#paragraph'].hasField('field_full_width_image')or
      data['#paragraph'].hasField('field_bg_image')or
      data['#paragraph'].hasField('field_button')or
      data['#paragraph'].hasField('field_block_quote')or
      data['#paragraph'].hasField('field_fullwidth_body')
      %}
        {% set full_width_data = full_width_data | merge({
          (loop.index0): {
            'para_id': parag_id['target_id'],
            'flag': true
          }
        }) %}

        {% set break = false %}
      {% elseif break %}
        {% if data['#paragraph'].hasField('field_full_width_image') %}
          {% set class = 'button' %}
        {% else %}
          {% set class = data['#paragraph'].getType %}
        {% endif %}
        <div class="section-content clear {{ class }}">
          {{ bamboo_render_entity('paragraph', parag_id['target_id']) }}
        </div>
      {% else %}
        {% set full_width_data = full_width_data | merge({
          (loop.index0): {
            'para_id': parag_id['target_id'],
            'flag': false
          }
        }) %}

      {% endif %}
      {% endfor %}
</div>

<!-- Right-side bar -->
<div class="col-md-3 sidebar-menu hidden-sm hidden-xs">
  <div class="top-bar"></div>
  {{ page.side_menu }}
<!-- //End Right-side bar -->
</div>
</div>
</div>
</div>
</div>
</div>

    {% else %}

<!-- ALL THE REST of the templates EXCEPT Venice use this-->
<!-- BEGIN LEFT SMALL COL -->
  <div class="row padding-left0">
<div class="col-md-4">
{# This relies on cpu_filter custom module (custom twig extension) to display properly #}
  {% if not node.field_event_date.value is empty and node.field_event_date.value is not null %}
    <h4>Event Date(s)</h4>
    {% for key, item in node.field_event_date if key|first != '#'%}
    <strong>{{ node.field_event_date[key].value|date_modify("-6 hours")|date('F d, Y', 'America/Los_Angeles') }}</strong><br>
     {% endfor %}
     <br>
{% endif %}

  {% if node.field_image_cpu_news_feed.value %}
    <div>{{ node.field_image_cpu_news_feed.content }}</div>
  {% endif %}

{% set full_width_data = [] %}
{% set small_width_data = [] %}
{% set break = true %}

{% for parag_id in node.field_content_section.value %}
{% set data = bamboo_render_entity('paragraph', parag_id['target_id']) %}
{% if data['#paragraph'].hasField('field_full_width_image')or
data['#paragraph'].hasField('field_bg_image')or
data['#paragraph'].hasField('field_button')or
data['#paragraph'].hasField('field_block_quote')or
data['#paragraph'].hasField('field_fullwidth_body')
%}
  {% set full_width_data = full_width_data | merge({
    (loop.index0): {
      'para_id': parag_id['target_id'],
      'flag': true
    }
  }) %}
  {% set break = false %}
{% elseif break %}
  {% if data['#paragraph'].hasField('field_full_width_image') %}
    {% set class = 'button' %}
  {% else %}
    {% set class = data['#paragraph'].getType %}
  {% endif %}
  <div class="section-content clear {{ class }}">
    {{ bamboo_render_entity('paragraph', parag_id['target_id']) }}
  </div>
{% else %}
  {% set full_width_data = full_width_data | merge({
    (loop.index0): {
      'para_id': parag_id['target_id'],
      'flag': false
    }
  }) %}

{% endif %}
{% endfor %}

</div>
<!-- //End LEFT SMALL COL -->

<!-- BEGIN MIDDLE COL -->
<div class="col-md-8 vertical-line">
<span class="hero_image">{% if node.field_hero_image.value %}
<img src="{{ file_url(node.field_hero_image.entity.fileuri | image_style('cpu_news_feed')) }}"/></span>
{% endif %}

{% if node.field_caption_subhead.value %}
<span class="news-text">{{ node.field_caption_subhead.value|raw}}</span><br /><br />
{% endif %}
{{ node.body.value|raw }}
</div>
</div>
</div>

    <!-- Right-side bar -->
    <div class="col-md-3 sidebar-menu hidden-sm hidden-xs">
      <div class="top-bar"></div>
      {{ page.side_menu }}
    <!-- //End Right-side bar -->
</div>
</div>
</div>
{% endif %}

<!-- All templates -->
<!-- //End container -->

{% for item in full_width_data %}
  {% if item.flag %}
    <div class="clear full-width-content {% if item.para_id == 122 %} block-qoute-wrapper {% endif %}">
      {# full width content goes here #}
      {{ bamboo_render_entity('paragraph', item.para_id) }}
    </div>

  {% else %}
    {# small width content goes here #}
    <div class="container">
      <div class="row cms-fullwidth">
        <div class="section-content clear">
          {{ bamboo_render_entity('paragraph', item.para_id) }}
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}

<!-- footer section -->
{{ attach_library('cpv3/cpu') }}
{% include directory ~ '/partials/footer.html.twig' %}
