{# page template #}
<!-- Fixed navbar -->
{% include directory ~ '/partials/header.html.twig' %}

    {# page-banner #}
 <div class="container-fluid">
   <div class="row">
     <div class="col-md-12">
       <div id="page-title-bg" style="background-image: url('{{ file_url(node.field_image.entity.fileuri) }}')"></div>
     </div>
   </div>
 </div>{# End page-banner #}

<!-- contain -->
<div class="container" id="main-container">
  {# Main content #}
  <div class="row">
    <div class="col-md-12" style="padding-left: 30px;">{{ page.title_bar }}</div>
  </div>

  <div class="row content-wrapper">
    <div class="col-md-12">
      {% if page.content %}
        <div class="row">
          <div class="col-md-12">
            {{ page.content }}
          </div>
        </div>
      {% endif %}

      <div class="row padding-top60">
        <div class="col-md-12">
          {{content}}

        </div>
      </div>

    </div>
    <!-- // .col-md-9 -->

  </div>
</div>
{# End container #}

<!-- footer section -->
{{ attach_library('cpv3/organizational-chart6') }}
{{ attach_library('cpv3/angular-js') }}
{% include directory ~ '/partials/footer.html.twig' %}
