    <!-- Fixed navbar -->
    {% include directory ~ '/partials/header.html.twig' %}

	<!-- Slider-->
	{% include directory ~ '/partials/slider.html.twig' %}
	
	<div class="container">
		{# feature section 1  #}
		{% include directory ~ '/partials/featured_section1.html.twig' %}
		<!-- //END feature section 1 -->
   		
		{# Feature section -2  #}
		{% include directory ~ '/partials/featured_section2.html.twig' %}
		<!-- //End Feature section -2 -->
    </div>
    
   	{# Infograph  #}
    <div class="container-fluid info-bg-color">
		<div class="row">
			<div class="col-md-12"><center><img class="img-responsive" src="{{ theme_base_path }}/images/infographic.jpg" alt="info stat" /></center></div>
		</div>
    </div>{# //End Infograph #}
    
    {# Promotion  #}
    <div class="container-fluid padding-top60 padding-bottom60" id="promotion">
    	<div class="row padding-bottom15">
			<div class="col-md-12 text-center"><h2>Our City. Our Future. Our Plan</h2></div>
		</div>
    	<div class="row promotion-bg">
			<div class="col-md-12" style="padding-top: 100px;"><center><img  class="img-responsive" src="{{ theme_base_path }}/images/OurLA2040-box.png" /></center></div>
		</div>
    </div>


	{# Calendar #}
	{% include directory ~ '/partials/calendar.html.twig' %}	
	{# //End Calendar #}
	
	{# stay connected #}
	<div id="say-connected">
		<div class="container">
			<div class="row">
				<div class="col-md-4 paddingtop25" style="padding-top:45px;">
					<span id="stay">stay</span><br>
					<span id="connected">CONNECTED</span>
				</div>
				<div class="col-md-4 padding-left0 left--25" style="padding-top:50px;">
					<button type="button" class="btn btn-white btn-circle"><a href="https://www.facebook.com/Planning4LA/" target="_blank" ><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a></button>
					&nbsp;&nbsp; <button type="button" class="btn btn-white btn-circle"><a href="https://www.instagram.com/planning4la/" target="_blank" ><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a></button>
					&nbsp;&nbsp; <button type="button" class="btn btn-white btn-circle"><a href="https://twitter.com/Planning4LA" target="_blank" ><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a></button>
					&nbsp;&nbsp; <button type="button" class="btn btn-white btn-circle"><a href="https://www.youtube.com/channel/UChl2PmRhAzUf158o0vZjnHw/videos" target="_blank" ><i class="fa fa-youtube-play fa-3x" aria-hidden="true"></i></a></button>
				</div>
				<div class="col-md-4 padding-left-50" style="padding-top: 10px;">
					<div id="signup-newsletter">Sign Up For Newsletter Updates</div>
					<form class="form">
	          			<div class="form-group">
		          			<label for="email" class="sr-only">Email</label>
		          			<input type="text" id="email"  class="form-control" placeholder="Email">
	          			</div>
	
		          		<div class="form-group">
	          				<button type="submit" class="btn" id="btn-newsletter" style="width:100%;">SUMBIT</button>
		          		</div>
	          	</form>
				</div>
			</div>
		</div>
	</div> {# //End #say-connected #}

	
  	{{ attach_library ('cpv3/front-page') }}
  	{{ attach_library ('cpv3/calendar-page') }}
  	{{ attach_library ('cpv3/angular-js') }}
	
	{# Footer section #}
	{% include directory ~ '/partials/footer.html.twig' %}
	{# //End Footer section #}