<div class="row">
	<div class="col-md-12">
        <div class="team-image">
            {{ fields.field_image.content  }}
        </div>
    </div>
</div>

<div class="row">
	<div class="col-md-12"><h4 class="team-name">{{ fields.title.content }}</h4></div>

	<div class="col-md-12">
		<p class="team-position">{{ fields.field_commission_position.content }}</p>
	</div>
  {#
	<div class="col-md-12 padding-left0">
        <a class="seperation" href="{{ fields.field_sm_facebook.content|striptags }}" title="twitter"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        <a class="seperation" href="{{ fields.field_sm_twitter.content|striptags }}" title="facebook"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
        <a class="padding-left-10" href="{{ fields.field_sm_linkedin.content|striptags }}" title="linkedin"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
	</div>
  #}
</div>

<p class="bottom"></p>

{{ fields.body.content }}

<p class="bottom"></p>