<div class="row">
	<div class="col-md-6">
		{% if content.field_project_planner_contact %}
			<strong class="overlays-field-title">Project Planner Contact: </strong><br>
			{{ content.field_project_planner_contact }} 
			
			<br /><br />
		{% endif %}
		
		
		{% if content.field_community_plan_area_s_ %}
			<strong class="overlays-field-title">Community Plan Area(s):</strong><br>
			{{ content.field_community_plan_area_s_ }} 
			
			<br /><br />
		{% endif %}
		
		
		{% if content.field_area_planning_commission_s %}
			<strong class="overlays-field-title">Area Planning Commission(s):</strong><br>
			{{ content.field_area_planning_commission_s }} 
			
			<br /><br />
		{% endif %}
		
		{% if content.field_council_district_s_ %}
			<strong class="overlays-field-title">Council District(s):</strong><br>
			{{ content.field_council_district_s_ }} 
			
			<br /><br />
		{% endif %}
	</div>
	
	<div class="col-md-6">
		{% set strlen = content.field_design_review_board_drb_ | length  %}
		{% if strlen > 3  %}
			<strong class="overlays-field-title">Design Review Board (DRB): </strong><br>
			{{ content.field_design_review_board_drb_ }}
		{% endif %}
	</div>
</div>

<div class="row padding-top2em padding-bottom60">
	<div class="col-md-12">
		{{ content.body|raw  }}
	</div>
	
	<div class="col-md-12">
		<a href="https://cityclerk.lacity.org/lacityclerkconnect/" rel="nofollow" target="_blank">
			<img src="{{ theme_base_path }}/images/overlays/icons/council-file-search.png" class="img-responsive" alt="council file search" />
		</a>
	</div>
</div>