{% set cat_name = content.field_sub_title.0['#context'].value %}
<div class="row">
	<div class="col-md-12"><h1>{{ label }} {{ content.field_sub_title.0['#context'].value }}</h1></div>
</div>

<div class="row">
	<div class="col-md-6">
		{# plain text field is used for this field, diverges from other fields #}
		{% if content.field_project_planner_contact %}
			<strong class="overlays-field-title">Staff Contact: </strong><br>
			{{ content.field_project_planner_contact }}
		{% endif %}
	</div>
	<div class="col-md-6">
		{% if content.field_community_plan_area_s_ %}
			<strong class="overlays-field-title">Community Plan Area(s):</strong><br>
			{{ node.field_community_plan_area_s_.value|raw }}
		{% endif %}
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		{% if content.field_council_district_s_ %}
			<strong class="overlays-field-title">Council District(s):</strong><br>
			{{ node.field_council_district_s_.value|raw }}
		{% endif %}
	</div>
	<div class="col-md-6">
		{% if content.field_area_planning_commission_s %}
			<strong class="overlays-field-title">Area Planning Commission(s):</strong><br>
			{{ node.field_area_planning_commission_s.value|raw }}
		{% endif %}
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		{% set strlen = content.field_design_review_board_drb_ | length  %}
		{% if strlen > 3  %}
			{# Display field name (board title) according to the different criteria #}

			{% set board_title = '' %}

			{% if cat_name == 'Historic Preservation Overlay Zone' %}
				{% set board_title = 'Historic Preservation Overlay Zone Board' %}
			{% elseif node.label | lower == 'ventura/cahuenga boulevard corridor' %}
				{% set board_title = 'Plan Review Board (PRB)' %}
			{% else %}
				{% set board_title = 'Design Review Board (DRB)' %}
			{% endif %}

			<strong class="overlays-field-title">{{ board_title }}: </strong><br>
			{{ node.field_design_review_board_drb_.value|raw }}
		{% endif %}
	</div>
</div>
<div class="row">
<div class="col-md-12">
	{{ content.body|raw  }}
</div>
</div>
          {# icons for regulations section #}
			{% if content.field_regulations.0 is not empty %}
			<div class="row">
				<div class="col-md-12">
	        <h3>{{node.field_document_heading_regs.value}}</h3>
				</div></div>
          {% if node.field_type.target_id == '211' %}
        	<div class="hpoz"{{attributes.setAttribute('class','hpoz') }}>{{ content.field_regulations }}
						      {% else %}
									<div{{attributes.setAttribute('class','row') }}> {{ content.field_regulations }}
									</div>
            {% endif %}
		  {% endif %}
          {# icons for Maps section #}
      {% if content.field_maps.0 is not empty %}
			<div class="row">
				<div class="col-md-12">
      		<h3>{{node.field_document_heading_maps.value}}</h3>
				</div></div>
          {% if node.field_type.target_id == '211' %}
          	<div class="hpoz"{{attributes.setAttribute('class','hpoz') }}>{{ content.field_maps}}
</div>
             {% else %}
						 <div{{attributes.setAttribute('class','row') }}> {{ content.field_maps }}
			 			</div>
            {% endif %}
      {% endif %}
				{# icons for Other section #}
		{% if content.field_other.0 is not empty %}
		<div class="row">
			<div class="col-md-12">
				<h3>{{node.field_document_heading_other.value}}</h3>
			</div></div>
				{% if node.field_type.target_id == '211'%}
							<div class="hpoz"{{attributes.setAttribute('class','hpoz') }}>{{  content.field_other }}
</div>
					 {% else %}
<div{{attributes.setAttribute('class','row') }}> {{ content.field_other }}
</div>
					{% endif %}
		{% endif %}

	{% if node.field_type.target_id == '349' %}
			<div class="row">
				<div class="col-md-12 paddingtop35">
					<p><a href="https://cityclerk.lacity.org/lacityclerkconnect/" rel="nofollow" target="_blank">
						<img src="{{ theme_base_path }}/images/overlays/icons/council-file-search.png" class="img-responsive" alt="council file search" />
					</a>
		</div>
	</div>
	{% else %}
	<div class="row">
		<div class="col-md-12">
<h3>Application Information</h3>
<span class="overlay_content_appinfo_a"> {{ content.field_app_link }}</span>
</div>
</div>
<div class="row">
	<div class="col-md-12">
<a class="overlay_content_appinfo_a" href="/development-services/forms" target="_blank">For all Filing Forms, click here</a></div>
</div>
<div class="row">
	<div class="col-md-12 paddingtop35">
		<p><a href="https://cityclerk.lacity.org/lacityclerkconnect/" rel="nofollow" target="_blank">
			<img src="{{ theme_base_path }}/images/overlays/icons/council-file-search.png" class="img-responsive" alt="council file search" />
		</a>
	</p>
</div>
		{% endif %}
