
 <table class="table table-responsive table-condensed " >
	<tr>
		<th>Date</th>
		<th>Name</td>
		<th>Email</th>
		<th>Phone</td>
		<th>Location</th>
		<th>House No.</td>
		<th>Direction</th>
		<th>St. Name</td>
		<th>Appointment for</th>
		<th>Weekday Preference</th>
		<th>Time Preference</td>
		<th>Status</td>
		<th>Operation</td>
	</tr>
	
	{% for key, record in data %}
	<tr>
		<td>{{ record.created|date("m/d/Y H:i") }}</td>
		<td>{{ record.guest_name }}</td>
		<td>{{ record.guest_email }}</td>
		<td>{{ record.guest_phone }}</td>
		<td>{% if record.appointment_location %} {{ record.appointment_location }} {% else %} - {% endif %}</td>
		<td>{% if record.case_add_house_number %} {{ record.case_add_house_number }} {% else %} - {% endif %}</td>
		<td>{% if record.case_add_direction %} {{ record.case_add_direction }} {% else %} - {% endif %}</td>
		<td>{% if record.case_add_street_name %} {{ record.case_add_street_name }} {% else %} - {% endif %}</td>
		<td>{% if record.appointment_for %} {{ record.appointment_for }} {% else %} - {% endif %}</td>
		<td>{% if record.week_day_preference %} {{ record.week_day_preference }} {% else %} - {% endif %}</td>
		<td>{% if record.time_preference %} {{ record.time_preference }} {% else %} - {% endif %}</td>
		<td>
			{% if record.status == 1 %} 
			<a href="{{  path('la_appointment.admin_status', {'id': record.id}) }}">Accepted</a>
			{% else %} 
			<a href="{{  path('la_appointment.admin_status', {'id': record.id}) }}">Pending</a>
			{% endif %}
		</td>
		<td>
			<a href="{{  path('la_appointment.admin_del', {'id': record.id}) }}">Delete</a>
		</td>
    </tr>
	{% endfor %}
 </table>
 

