{% set link %}
{{ content.field_button_link_url }}
{% endset %}
<span class="full-width-button clearfix">
    <a href="{{ link }}">
    	<p class="{{ content.field_bg_class }}">
            {{ content.field_text }} 
            <span style="float: right;">
            	<i class="{{ content.field_icon_class }} " aria-hidden="true"></i>
            </span>
    	</p>
    </a>
</span>