    	<div class="row padding-bottom60" id="ft-section">
    		<div class="col-md-6">
    			<div class="row padding-bottom60"><div class="col-md-12"><h2 class="text-center" >Policy Updates</h2></div></div>
    			<div class="row v-line ">
    				<div class="row">
    					<div class="col-md-6 feature-block-2-fix-height">
	            			<div class="f-block">
	            				<center><a href="https://www.ourla2040.org/" target="_blank"><img class="img-responsive" data-alt-src="{{ theme_base_path }}/images/features/Our-LA-2040-icon-128-x-128-color.png" src="{{ theme_base_path }}/images/features/Our-LA-2040-icon-128-x-128.png" alt="services" /></a></center>
	            				<div class="caption">
	            					<h5><a href="https://www.ourla2040.org/" target="_blank">General <br>Plan Update</a></h5>
	            					<p class="line-height-1"><em>Our city. Our future. <br>Our plan.</em></p>
	            				</div>
	            			</div>
	            		</div>
	        
	            		<div class="col-md-6 feature-block-2-fix-height">
	            			<div class="f-block">
	            				<center><a href="#"><img class="img-responsive" data-alt-src="{{ theme_base_path }}/images/features/Community-Plan-Updates-Icon-128-x-128-color.png" src="{{ theme_base_path }}/images/features/Community-Plan-Updates-Icon-128-x-128.png" alt="community plan updates" /></a></center>
	            				<div class="caption">
	            					<h5><a href="{{ base_path }}communities/community-plan-updates">Community <br>Plan Updates</a></h5>
	            					<p class="line-height-1"><em>See what's new in <br>your community.</em></p>
	            				</div>
	            			</div>
	            		</div>
    				</div>
            		
        			<div class="row">
        				<div class="col-md-6 feature-block-2-fix-height">
	            			<div class="f-block">
	            				<center><a href="http://recode.la/" target="_blank"><img class="img-responsive" data-alt-src="{{ theme_base_path }}/images/features/recode-LA-icon-128-x-128-color.png" src="{{ theme_base_path }}/images/features/recode-LA-icon-128-x-128.png" alt="communities" /></a></center>
	            				<div class="caption">
	            					<h5><a href="http://recode.la/" target="_blank">Zoning  <br>Code Updates</a></h5>
	            					<p class="line-height-1"><em>Shaping the future of <br> Los Angeles.</em></p>
	            				</div>
	            			</div>
	            		</div>
	        
	            		<div class="col-md-6 feature-block-2-fix-height">
	            			<div class="f-block">
	            				<center><a href="{{ base_path }}citywide/proposed-ordinances"><img class="img-responsive" data-alt-src="{{ theme_base_path }}/images/features/Policy-Icon-128-x-128-color.png" src="{{ theme_base_path }}/images/features/Policy-Icon-128-x-128.png" alt="policy" /></a></center>
	            				<div class="caption">
	            					<h5><a href="{{ base_path }}citywide/proposed-ordinances">Proposed <br>Ordinances</a></h5>
	            					<p class="line-height-1"><em>Review proposed <br>ordinances.</em></p>
	            				</div>
	            			</div>
	            		</div>
        			</div>
            		
            	</div>
    		</div>
    		
    		<div class="col-md-6">
    			<div class="row  padding-bottom60"><div class="col-md-12"><h2 class="text-center">Project Resources</h2></div></div>
    			<div class="row ">
            		<div class="col-md-6 feature-block-2-fix-height">
            			<div class="f-block">
            				<center><a href="{{ base_path }}projects/public-counters"><img class="img-responsive" data-alt-src="{{ theme_base_path }}/images/features/Icon-PublicCounters-color.png" src="{{ theme_base_path }}/images/features/Icon-PublicCounters.png" alt="Public counters"  /></a></center>
            				<div class="caption">
            					<h5><a href="{{ base_path }}projects/public-counters">Public <br>Counters</a></h5>
            					<p class="line-height-1"><em>Locations & Hours.</em></p>
            				</div>
            			</div>
            		</div>
        
            		<div class="col-md-6 feature-block-2-fix-height">
            			<div class="f-block">
            				<center><a href="{{ base_path }}appointment/form"><img class="img-responsive" data-alt-src="{{ theme_base_path }}/images/features/Appointments-Locations-Icon-128-x-128-color.png" src="{{ theme_base_path }}/images/features/Appointments-Locations-Icon-128-x-128.png" alt="appointments and locations" /></a></center>
            				<div class="caption">
            					<h5><a href="{{ base_path }}appointment/form">Appointments</a></h5>
            					<p class="line-height-1"><em>Schedule an <br>appointment.</em></p>
            				</div>
            			</div>
            		</div>
       			</div>
        			
       			<div class="row">
            		<div class="col-md-6 feature-block-2-fix-height">
            			<div class="f-block">
            				<center><a href="{{ base_path }}case-search"><img class="img-responsive" data-alt-src="{{ theme_base_path }}/images/features/Case-Search-Icon-128-x-128-color.png" src="{{ theme_base_path }}/images/features/Case-Search-Icon-128-x-128.png" alt="case search" /></a></center>
            				<div class="caption">
            					<h5><a href="{{ base_path }}case-search">Case <br>Search</a></h5>
            					<p class="line-height-1"><em>Search development projects <br>in Los Angeles.</em></p>
            				</div>
            			</div>
            		</div>
        
            		<div class="col-md-6 feature-block-2-fix-height">
            			<div class="f-block">
            				<center><a href="http://planning.lacity.org/fees/" target="_blank"><img class="img-responsive" data-alt-src="{{ theme_base_path }}/images/features/Fee-Calculator-Icon-128-x-128-color.png" src="{{ theme_base_path }}/images/features/Fee-Calculator-Icon-128-x-128.png" alt="Fee-Calculator"  /></a></center>
            				<div class="caption">
            					<h5><a href="http://planning.lacity.org/fees/" target="_blank">Fee <br>Estimator</a></h5>
            					<p class="line-height-1"><em>Calculate the cost of <br>your project.</em></p>
            				</div>
            			</div>
            		</div>
        
            	</div>
    		</div>
    	</div>