		<div class="row padding-bottom25" id="ft-section">
     		<!-- General Plan -->
         	<div class="col-lg-3 feature-block-2-fix-height">
         		<div class="f-block">
    				<center>
    					<a href="{{ base_path }}policies/general-plan-updates">
        					<img class="img-responsive" data-alt-src="{{ theme_base_path }}/images/features/icons-ourLA-color.png" 
        						src="{{ theme_base_path }}/images/features/icons-ourLA.png" alt="services" />
						</a>
					</center>
    				<div class="caption">
    					<h5><a href="{{ base_path }}policies/general-plan-overview">General<br>Plan</a></h5>
    					<p><em>Our city. Our future.<br>Our plan.</em></p>
    				</div>
    			</div>
         	</div>
         	
         	<!-- Community Plan -->
         	<div class="col-lg-3 feature-block-2-fix-height">
         		<div class="f-block">
    				<center><a href="{{ base_path }}communities/community-plan-updates">
    					<img class="img-responsive" data-alt-src="{{ theme_base_path }}/images/features/icons-communityPlans-color.png" 
    						src="{{ theme_base_path }}/images/features/icons-communityPlans.png" alt="community plan updates" /></a>
					</center>
    				<div class="caption">
    					<h5><a href="{{ base_path }}communities/community-plan-updates">Community<br>Plan</a></h5>
    					<p><em>Learn what's new<br>in your community.</em></p>
    				</div>
    			</div>
         	</div>
         	
         	<!-- Zoning Code Updates -->
         	<div class="col-lg-3 feature-block-2-fix-height">
         		<div class="f-block">
    				<center><a href="{{ base_path }}zoning/updating-the-zoning-code-re:codeLA">
    					<img class="img-responsive" data-alt-src="{{ theme_base_path }}/images/features/icons-recodeLA-color.png" 
    						src="{{ theme_base_path }}/images/features/icons-recodeLA.png" alt="communities" /></a>
					</center>
    				<div class="caption">
    					<h5><a href="{{ base_path }}zoning/updating-the-zoning-code-re:codeLA">Zoning<br>Code Updates</a></h5>
    					<p><em>Shaping the future<br>of Los Angeles.</em></p>
    				</div>
    			</div>
         	</div>
         	
         	<!-- Proposed Ordinances -->
         	<div class="col-lg-3 feature-block-2-fix-height">
         		<div class="f-block">
    				<center><a href="{{ base_path }}policies/proposed-ordinances">
    					<img class="img-responsive" data-alt-src="{{ theme_base_path }}/images/features/icons-proposedOrdin-color.png" 
    						src="{{ theme_base_path }}/images/features/icons-proposedOrdin.png" alt="policy" /></a>
					</center>
    				<div class="caption">
    					<h5><a href="{{ base_path }}policies/proposed-ordinances">Proposed<br>Ordinances</a></h5>
    					<p><em>Review proposed<br>ordinances.</em></p>
    				</div>
    			</div>
         	</div>
         </div><!-- End Feature row 1 -->
         
         <!-- Feature row 2-->
     	<div class="row padding-bottom25" id="ft-section">
     		<!-- Urban Design Studio -->
    		<div class="col-lg-3 feature-block-2-fix-height">
    			<div class="f-block">
    				<center><a href="{{ base_path }}policies/urban-design-studio">
    					<img class="img-responsive" data-alt-src="{{ theme_base_path }}/images/features/icons-urbandesignstudio-color.png" 
    						src="{{ theme_base_path }}/images/features/icons-urbandesignstudio.png" alt="Public counters"  /></a>
					</center>
    				<div class="caption">
    					<h5><a href="{{ base_path }}policies/urban-design-studio">Urban Design<br>Studio</a></h5>
    					<p><em>Learn about our<br>urban design principles.</em></p>
    				</div>
    			</div>
    		</div>	
    		
     		<!-- Historic Resources -->
    		<div class="col-lg-3 feature-block-2-fix-height">
    			<div class="f-block">
    				<center><a href="{{ base_path }}policies/historic-preservation">
    					<img class="img-responsive" data-alt-src="{{ theme_base_path }}/images/features/icons-historic-color.png" 
    						src="{{ theme_base_path }}/images/features/icons-historic.png" alt="Public counters"  /></a>
					</center>
    				<div class="caption">
    					<h5><a href="{{ base_path }}policies/historic-preservation">Historic<br>Resources</a></h5>
    					<p><em>Identify historic<br>sites citywide.</em></p>
    				</div>
    			</div>
    		</div>	
    		
     		<!-- Fee Estimator -->
    		<div class="col-lg-3 feature-block-2-fix-height">
    			<div class="f-block">
    				<center><a href="{{ base_path }}resources/fee-estimator">
    					<img class="img-responsive" data-alt-src="{{ theme_base_path }}/images/features/icons-feeEstimator-color.png" 
    						src="{{ theme_base_path }}/images/features/icons-feeEstimator.png" alt="Fee-Calculator"  /></a>
					</center>
    				<div class="caption">
    					<h5><a href="{{ base_path }}resources/fee-estimator">Fee<br>Estimator</a></h5>
    					<p><em>Calculate the cost of<br>a project application.</em></p>
    				</div>
    			</div>
    		</div>	

     		<!-- Schedule an Appointment -->
    		<div class="col-lg-3 feature-block-2-fix-height">
    			<div class="f-block">
    				<center><a href="{{ base_path }}contact/appointment/form">
    					<img class="img-responsive" data-alt-src="{{ theme_base_path }}/images/features/icons-ScheduleAppt-color.png" 
    						src="{{ theme_base_path }}/images/features/icons-ScheduleAppt.png" alt="appointments and locations" /></a>
					</center>
    				<div class="caption">
    					<h5><a href="{{ base_path }}contact/appointment/form">Schedule an<br>Appointment</a></h5>
    					<p><em>Meet with<br>a planner.</em></p>
    				</div>
    			</div>
    		</div>	
    		
    	</div> <!-- // End Feature row 2-->