    <div class="row feature-section1 padding-bottom60">

    	<!-- Case Search -->
    	<div class="col-md-4" id="case-search-box">
    		<div class="col-md-12 featureBlock">
    			<center><a href="#"><img class="img-responsive paddingtop15" src="{{ theme_base_path }}/images/case-search.png" alt="Fee-Calculator"/></a></center>
          		<h2 class="text-center">CASE SEARCH</h2>
      			<div class="row text-center paddingtop15">
         			<center>
                		<form class="form featureBlock-form">
               				<div class="form-group">
                  				<label for="address" class="sr-only">Case number</label>
                              	<input type="text" id="case-number" class="form-control" placeholder="Case Number">
               				</div>
                       		<div class="form-group">
                          		<button type="submit" class="btn btn-z-search featureBlock-button" id="case-search">Search</button>
                           </div>
                           <div class="form-group">
                          		<a class="btn btn-get-involved featureBlock-button" href="{{ base_path }}search/search-by-category">Advanced Search</a>
                           </div>
    					</form>
             		</center>
          		</div>
       		</div>
    	</div>

    	<!-- Zoning Search -->
    	<div class="col-md-4" id="zoning-search-box">
    		<div class="col-md-12 featureBlock">
       			<div class="row text-center">
                     <center><a href="#"><img class="img-responsive paddingtop15" src="{{ theme_base_path }}/images/zoning-search.png" alt="zoning search"/></a></center>
                     <h2>ZONING SEARCH</h2>
                  </div>

                  <div class="row text-center paddingtop15">
                     <center>
                        <form class="form featureBlock-form">
                           <div class="form-group">
                              <label for="address" class="sr-only">Street number</label>
                              <input type="text" id="street-number" class="form-control" placeholder="Street Number">
                           </div>
                           <div class="form-group">
                              <label for="street-name" class="sr-only">Street name</label>
                              <input type="text" id="street-name" class="form-control" placeholder="Street Name">
                           </div>
                           <div class="form-group">
                              <button type="submit" class="btn btn-z-search featureBlock-button" id="search-zoning">Property Information (ZIMAS)</button>
                           </div>
                        </form>
                     </center>
                  </div>
    		</div>
        </div>

    	<!-- Get Involved -->
        <div class="col-md-4" id="get-involved-box">
           <div class="col-md-12 featureBlock">
              <div class="row text-center">
                 <center><a href="/projects/development-service-centers"><img class="img-responsive paddingtop15" src="{{ theme_base_path }}/images/get-involved.png" alt="get involved"/></a></center>
                 <h2>GET INVOLVED</h2>
              </div>
              <div class="row text-center paddingtop15">
                 <center>
                    <form class="form featureBlock-form">
                        <div class="form-group">
                            <a href="{{ base_path }}about/calendar" class="btn btn-get-involved featureBlock-button">Events Calendar</a>
                        </div>
                    	<div class="form-group">
                      		<a href="{{ base_path }}about/hearings" class="btn btn-get-involved featureBlock-button">Public Hearings</a>
                       	</div>
                    	<div class="form-group">
                    		<a href="{{ base_path }}plans-policies/general-plan-updates" class="btn btn-get-involved featureBlock-button">General Plan Updates</a>
                       	</div>
                    </form>
                 </center>
              </div>
           </div>
        </div>
    </div> <!-- End Feature Block 1 -->
