		<div class="row padding-bottom25" id="ft-section">
            <!-- Community Plan -->
            <div class="col-md-3 feature-block-2-fix-height">
                <div class="f-block">
                    <center><a href="{{ base_path }}plans-policies/community-plan-updates">
                        <img class="img-responsive" data-alt-src="{{ theme_base_path }}/images/features/icons-communityPlans-color.png"
                            src="{{ theme_base_path }}/images/features/icons-communityPlans.png" alt="community plan updates" /></a>
                    </center>
                    <div class="caption">
                        <h5><a href="{{ base_path }}plans-policies/community-plan-updates">Community<br>Plan Updates</a></h5>
                        <p><em>Get status<br>information</em></p>
                    </div>
                </div>
            </div>
            
            
            <!-- Proposed Ordinances -->
            <div class="col-md-3 feature-block-2-fix-height">
                <div class="f-block">
                    <center><a href="{{ base_path }}plans-policies/proposed-ordinances">
                        <img class="img-responsive" data-alt-src="{{ theme_base_path }}/images/features/icons-proposedOrdin-color.png"
                            src="{{ theme_base_path }}/images/features/icons-proposedOrdin.png" alt="policy" /></a>
                    </center>
                    <div class="caption">
                        <h5><a href="{{ base_path }}plans-policies/proposed-ordinances">Proposed<br>Ordinances</a></h5>
                        <p><em>Review draft<br>land use policies</em></p>
                    </div>
                </div>
            </div>
            
     		<!-- Development Services -->
         	<div class="col-md-3 feature-block-2-fix-height">
         		<div class="f-block">
    				<center>
    					<a href="{{ base_path }}development-services/development-services">
        					<img class="img-responsive" data-alt-src="{{ theme_base_path }}/images/features/icons-home-publicCounter-color.png"
        						src="{{ theme_base_path }}/images/features/icons-home-publicCounter.png" alt="public counter" />
						</a>
					</center>
    				<div class="caption">
    					<h5><a href="{{ base_path }}development-services/development-services">Development<br>Services</a></h5>
              <p><em>Obtain technical guidance<br>and assistance</em></p>
    				</div>
    			</div>
         	</div>

         	<!-- Appointment -->
            <div class="col-md-3 feature-block-2-fix-height">
                <div class="f-block">
                    <center><a href="{{ base_path }}development-services/appointment/form">
                        <img class="img-responsive" data-alt-src="{{ theme_base_path }}/images/features/icons-ScheduleAppt-color.png"
                            src="{{ theme_base_path }}/images/features/icons-ScheduleAppt.png" alt="appointments and locations" /></a>
                    </center>
                    <div class="caption">
                        <h5><a href="{{ base_path }}development-services/appointment/form">Appointments</a></h5>
                        <p><em>Consult with<br>public counter staff</em></p>
                    </div>
                </div>
            </div>

         	
         </div><!-- End Feature row 1 -->

         <!-- Feature row 2-->
     	<div class="row padding-bottom25" id="ft-section">
   	        <!-- Zoning Code Updates -->
            <div class="col-md-3 feature-block-2-fix-height">
                <div class="f-block">
                    <center><a href="{{ base_path }}zoning/updates">
                        <img class="img-responsive" data-alt-src="{{ theme_base_path }}/images/features/icons-recodeLA-color.png"
                            src="{{ theme_base_path }}/images/features/icons-recodeLA.png" alt="communities" /></a>
                    </center>
                    <div class="caption">
                        <h5><a href="{{ base_path }}zoning/updates">Zoning<br>Code Updates</a></h5>
                        <p><em>Comment on proposed<br>code revisions</em></p>
                    </div>
                </div>
            </div>
            
            <!-- Historic Resources -->
            <div class="col-md-3 feature-block-2-fix-height">
                <div class="f-block">
                    <center><a href="{{ base_path }}preservation-design/historic-landmarks">
                        <img class="img-responsive" data-alt-src="{{ theme_base_path }}/images/features/icons-historic-color.png"
                            src="{{ theme_base_path }}/images/features/icons-historic.png" alt="Public counters"  /></a>
                    </center>
                    <div class="caption">
                        <h5><a href="{{ base_path }}preservation-design/historic-landmarks">Historic<br>Resources</a></h5>
                        <p><em>Identify local<br>historic sites</em></p>
                    </div>
                </div>
            </div>
            
     		<!-- Urban Design Studio -->
    		<div class="col-md-3 feature-block-2-fix-height">
    			<div class="f-block">
    				<center><a href="{{ base_path }}preservation-design/urban-design/program-overview">
    					<img class="img-responsive" data-alt-src="{{ theme_base_path }}/images/features/icons-urbandesignstudio-color.png"
    						src="{{ theme_base_path }}/images/features/icons-urbandesignstudio.png" alt="Public counters"  /></a>
					</center>
    				<div class="caption">
    					<h5><a href="{{ base_path }}preservation-design/urban-design/program-overview">Urban Design<br>Studio</a></h5>
    					<p><em>Access citywide<br>design guidelines</em></p>
    				</div>
    			</div>
    		</div>


     		<!-- Home-Sharing -->
    		<div class="col-md-3 feature-block-2-fix-height">
    			<div class="f-block">
    				<center><a href="{{ base_path }}">
    					<img class="img-responsive" data-alt-src="{{ theme_base_path }}/images/features/icon-home-sharing-color.png"
    						src="{{ theme_base_path }}/images/features/icon-home-sharing.png" alt="Fee-Calculator"  /></a>
					</center>
    				<div class="caption">
    					<h5><a href="{{ base_path }}">Home-Sharing</a></h5>
    					<p><em>Learn more about<br>the new rules for Airbnb-type rentals</em></p>  
    				</div>
    			</div>
    		</div>

    	</div> <!-- // End Feature row 2-->
