	<div id="footer-section">
		<div class="container footer">
			<div class="row border-line-top">
        		<div class="col-md-6 footer-sub-link">
        			<a href="https://myla311.lacity.org" target="_blank" rel="nofollow">MyLA311:Request City Services</a> &nbsp; | &nbsp;
                    <a href="{{ base_path }}additional/privacy-policy">Privacy Policy</a> &nbsp;| &nbsp;
                    <a href="{{ base_path }}additional/disclaimer">Disclaimer</a>
    			</div>
        		<div class="col-md-6 copy-right">&copy; {{ "now"|date("Y") }} Copyright, City Planning Department.</div>
        	</div>

        	<div class="row border-line-top paddingtop25">
        		<div class="col-md-4 col-sm-4" id="helpful-links">
        			<h6 class="padding-bottom15">HELPFUL LINKS</h6>
       				<ul>
       					<li><a href="https://www.lacity.org" target="_blank" rel="nofollow">City of Los Angeles</a></li>
       					<li><a href="https://www.lacity.org/your-government/departments-commissions/departments-bureaus" target="_blank" rel="nofollow">City Departments and Bureaus</a></li>
       					<li><a href="{{ base_path }}sitemap">Site Map</a></li>
       				</ul>
        		</div>

        		<div class="col-md-4 col-sm-4">
        			<h6 class="padding-bottom15">CONTACT US</h6>
    				<ul>
       					<li><a href="{{ base_path }}contact/public-counters">Locations and Hours</a></li>
       					<li><a href="{{ base_path }}contact/locations-and-hours">Appointments</a></li>
       					<li><a href="{{ base_path }}/contact/communications">Media Inquiries</a></li>
       					<li class="paddingtop10">
       						<a href="https://www.facebook.com/Planning4LA/" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a> &nbsp;&nbsp;
       						<a href="https://www.instagram.com/planning4la/" target="_blank" ><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a> &nbsp;&nbsp;
       						<a href="https://twitter.com/Planning4LA" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a> &nbsp;&nbsp;
       						<a href="https://www.linkedin.com/company/los-angeles-department-of-city-planning/" target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a> &nbsp;&nbsp;
       						<a href="https://www.youtube.com/channel/UChl2PmRhAzUf158o0vZjnHw/videos" target="_blank"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a>
     					</li>
       				</ul>
        		</div>

        		<div class="col-md-4 col-sm-4">
        			<h6 class="padding-bottom15">PLANNING TOOLKIT</h6>
       					<p>
       						<a href="https://play.google.com/store/apps/details?id=org.lacity.ladcp.planningToolkit&hl=en" target="_blank" rel="nofollow">
        						<img src="{{ theme_base_path }}/images/google-play.png" alt="planning toolkit" />
    						</a>
    					</p>
       					<p>
       						<a href="https://itunes.apple.com/TR/app/id787467145" target="_blank" rel="nofollow">
            					<img src="{{ theme_base_path }}/images/app-store.png" alt="planning toolkit" />
        					</a>
						</p>
        		</div>
        	</div><!-- //End .row -->

        </div><!-- //End .container -->
	</div><!-- //End #footer-menu -->

    {# google translate #}
	<script type="text/javascript">
        function googleTranslateElementInit() {
        	new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
        }
  	</script>