<nav class="navbar navbar-default navbar-fixed-top navbar-search-box animate" role="navigation">
	<div class="container menu-region">
    	<div class="col-md-2 tog-nav">
    		<div class="navbar-header">
	        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            </button>
	            <a class="navbar-brand" href="{{ base_path }}"><img src="{{ theme_base_path }}/images/logo-planning.png" alt="ladcp logo" /></a>
	        </div>
    	</div>
    	<div class="col-md-10">
    		<!-- google translate -->
    		<div class="row visible-lg-block">
    			<ul class="nav navbar-nav navbar-right padding-top13">
	                <li><div id="google-lan"><div id="google_translate_element"></div></div></li>
	            </ul>
    		</div>

    		<!-- navbar-collapse -->
    		<div class="row">
    			<div class="collapse navbar-collapse" >
		        	<ul class="nav navbar-nav" id="main-nav">
		                <li class="dropdown mega-dropdown">
		                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About</a>
		                    <ul class="dropdown-menu mega-dropdown-menu mega-menu-padding-10pc">
		                        <li class="col-md-4">
		                        	<h3 class="dropdown-header">About</h3>
		                        	<ul>
		                        		<li class="divider"></li>
		            					<li><a href="{{ base_path }}about/department-city-planning">City Planning</a></li>
		            					<li><a href="{{ base_path }}about/message-director">Executive Office</a></li>
		            					<li><a href="#">Decision Makers</a></li>
		            					<li><a href="{{ base_path }}about/commissions">Commissions</a></li>
		            					<li><a href="{{ base_path }}about/staff-directory">Staff Directory</a></li>
		                        	</ul>
		                        </li>
		                        <li class="col-md-4">
		                        	<h3 class="dropdown-header">Meetings</h3>
		            				<ul>
		            					<li class="divider"></li>
		            					<li><a href="{{ base_path }}about/calendar">Community Calendar</a></li>
		            					<li><a href="{{ base_path }}about/commission-agendas-minutes">Agendas & Minutes</a></li>
		            					<li><a href="{{ base_path }}about/hearings">Public Hearings</a></li>
		            				</ul>
		            			</li>
		                        <li class="col-md-4">
		                        	<h3 class="dropdown-header">Connect</h3>
		            				<ul>
		            					<li class="divider"></li>
		            					<li><a href="{{ base_path }}about/publications">Publications</a></li>
		            					<li><a href="#">Blog</a></li>
		            				</ul>
		            			</li>
		                    </ul>
		            	</li>
		                <li class="dropdown mega-dropdown">
		                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Zoning </a>
		                    <ul class="dropdown-menu mega-dropdown-menu mega-menu-padding-10pc">
		                        <li class="col-md-6">
		                        	<h3 class="dropdown-header">Zoning</h3>
		                        	<ul>
		                        		<li class="divider"></li>
		            					<li><a href="{{ base_path }}zoning/what-zoning">Overview</a></li>
		            					<li><a href="https://recode.la/" target='_blank'>Updates</a></li>
		                        	</ul>
		                        </li>
		                        <li class="col-md-6">
		                        	<h3 class="dropdown-header">Quick Links</h3>
		                        	<ul>
		                        		<li class="divider"></li>
		            					<li><a href="http://library.amlegal.com/nxt/gateway.dll/California/lapz/municipalcodechapteriplanningandzoningco/chapterigeneralprovisionsandzoning/article2specificplanning-zoningcomprehen?f=templates$fn=default.htm$3.0$vid=amlegal:lapz_ca$anc=" target='_blank'>Zoning Code</a></li>
		            					<li><a href="http://zimas.lacity.org/" target='_blank'>Zoning Map (ZIMAS)</a></li>
		            					<li><a href="#">Glossary</a></li>

		                        	</ul>
		                        </li>
		                    </ul>
		                </li>
		                <li class="dropdown mega-dropdown">
		                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Project</a>
		                    <ul class="dropdown-menu mega-dropdown-menu mega-menu-padding-10pc">
		                        <li class="col-md-6">
		                        	<h3 class="dropdown-header">Applicants</h3>
		                        	<ul>
		                        		<li class="divider"></li>
		            					<li><a href="{{ base_path }}projects/land-use-process">Land Use Process</a></li>
		            					<li><a href="{{ base_path }}projects/public-counters">Services</a></li>
		            					<li><a href="{{ base_path }}projects/ceqa-environmental-review">Environmental Review</a></li>
		            					<li><a href="#">Environmental Impact Report</a></li>
                          <li><a href="#">Expedited Processing Services</a></li>
		                        	</ul>
		                        </li>

		                        <li class="col-md-6">
		            				<h3 class="dropdown-header">Quicks Links</h3>
		            				<ul>
		            					<li class="divider"></li>
		                                <li><a href="http://planning.lacity.org/fees/" target="_blank">Fee Estimator</a></li>
		            					<li><a href="{{ base_path }}projects/forms">Forms</a></li>
                          <li><a href="#">Pre-Intake Consultation</a></li>
		            				</ul>
		            			</li>
		                    </ul>
		                </li>
		                <li class="dropdown mega-dropdown">
		                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Policies</a>
		                	<ul class="dropdown-menu mega-dropdown-menu mega-menu-padding-10pc">
		                    	<li class="col-md-6">
		                    		<h3 class="dropdown-header">General Plan</h3>
		                        	<ul>
		                        		<li class="divider"></li>
		            					<li><a href="{{ base_path }}policies/general-plan-overview">Overview</a></li>
										<li><a href="https://www.ourla2040.org" target="_blank">Updates</a></li>
		                        	</ul>
		                        </li>

		                        <li class="col-md-6">
		                        	<h3 class="dropdown-header">Citywide Policies</h3>
		                        	<ul>
		                        		<li class="divider"></li>
										<li><a href="#">Policy Initiatives</a></li>
										<li><a href="{{ base_path }}policies/urban-design-studio">Urban Design Studio</a></li>
										<li><a href="#">Proposed Ordinances</a></li>
										<li><a href="{{ base_path }}policies/historic-preservation">Historic Preservation</a></li>
		                        	</ul>
		                        </li>
		                	</ul>
		            	</li>

		              	<li class="dropdown mega-dropdown">
		                	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Communities</a>
		                    <ul class="dropdown-menu mega-dropdown-menu mega-menu-padding-10pc">
		                        <li class="col-md-6" >
		                    		<h3 class="dropdown-header">Community Plans</h3>
		                        	<ul>
		                        		<li class="divider"></li>
		            					<li><a href="#">Overview</a></li>
		            					<li><a href="{{ base_path }}communities/community-plan-areas" target="_blank">Plan Updates</a></li>
		                        	</ul>
		                        </li>
		                        <li class="col-md-6">
		                    		<h3 class="dropdown-header">Neighborhoods Plans</h3>
		                        	<ul>
		                        		<li class="divider"></li>
                                <li><a href="#">Overlays</a></li>
                                <li><a href="#">Transit Neighborhood Plans</a></li>
		                        	</ul>
		                    	</li>
		                    </ul>
		            	</li>

		            	<li class="dropdown mega-dropdown">
		                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources</a>
		                    <ul class="dropdown-menu mega-dropdown-menu mega-menu-padding-10pc">
		                        <li class="col-md-4">
		                        	<h3 class="dropdown-header">Resources</h3>
		                        	<ul>
		                        		<li class="divider"></li>
		            					<li><a href="http://ladcp.maps.arcgis.com/apps/webappviewer/index.html?id=f81bd35d8d134a868ad54a28837a08b6" target="_blank">Demographics</a></li>
		            					<li><a href="#">Maps</a></li>
		            					<li><a href="#">Videos</a></li>
		            					<li><a href="{{ base_path }}projects/forms">Forms</a></li>
		            					<li><a href="http://planning.lacity.org/fees/">Fee Estimator </a></li>
		                        	</ul>
		                        </li>
		                        <li class="col-md-4">
		                        	<h3 class="dropdown-header">Open Data</h3>
		                        	<ul>
		                        		<li class="divider"></li>
		                        		<li><a href="https://data.lacity.org/" target="_blank">Open Data</a></li>
		                        	</ul>
		                        </li>
		                        <li class="col-md-4">
		                        	<h3 class="dropdown-header">Case Report</h3>
		                        	<ul>
		                        		<li class="divider"></li>
		                                <li><a href="{{ base_path }}resources/bi-weekly-case-filing/163">Case Reports</a></li>
		                            	<li><a href="{{ base_path }}resources/pcts-codes.php">PCTS Prefix and Suffix Codes</a></li>
		                        	</ul>
		                        </li>
		                    </ul>
		                </li>

		                <li class="dropdown mega-dropdown">
		              		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact</a>
		                  	<ul class="dropdown-menu mega-dropdown-menu mega-menu-padding-10pc">
		                      	<li class="col-md-6" >
		                        	<h3 class="dropdown-header">Contact</h3>
		                            <ul>
		                              	<li class="divider"></li>
		                                <li><a href="#">Public Counters</a></li>
                                    <li><a href="{{ base_path }}contact/appointment/form">Schedule an Appoitment</a></li>
		                                <li><a href="{{ base_path }}about/staff-directory">Staff Directory</a></li>
		                            </ul>
		                      	</li>
		                      	<li class="col-md-6" >
		                        	<h3 class="dropdown-header">Media Relations</h3>
		                            <ul>
		                              	<li class="divider"></li>
		                                <li><a href="{{ base_path }}media/media-information">Media Relations</a></li>
		                            </ul>
		                      	</li>
		                  	</ul>
		              	</li>
		              	<li class="menu-seperation visible-lg-block"></li>
	              		<li class="search-icon"><a href="#toggle-search" class="animate"><i class="fa fa-search fa-lg" aria-hidden="true"></i></a></li>
		            </ul>
		            <ul class="nav navbar-nav navbar-right top-social-icons">
		                <li><a class="s-icons" href="https://www.facebook.com/Planning4LA/" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></li>
		                <li><a class="s-icons" href="https://www.instagram.com/planning4la/" target="_blank" ><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
		                <li><a class="s-icons" href="https://twitter.com/Planning4LA" target="_blank"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a></li>
		                <li><a class="s-icons padding-right0" href="https://www.youtube.com/channel/UChl2PmRhAzUf158o0vZjnHw/videos" target="_blank"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a></li>
		            </ul>

		        </div>
    		</div>  <!-- /.navbar-collapse -->
    	</div>
    </div><!-- /.container-->

	<div class="search-bar-search animate">
		<div class="container">
			<form action="/search/node" method="get" id="search-block-form" accept-charset="UTF-8">
				<div class="input-group">
          <input class="form-control" title="Enter the terms you wish to search for." data-drupal-selector="edit-keys" type="search"
            id="edit-keys--2" name="keys" value="" size="15" maxlength="128" placeholder="search for ...">
          <span class="input-group-btn">
            <input class="btn btn-primary js-form-submit form-submit" data-drupal-selector="edit-submit"
              type="submit" id="edit-submit--3" value="Search">
          </span>
        </div>
      </form>
		</div>
	</div>
</nav>