<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
    	<div class="col-md-2 padding-top2em padding-left-0 padding-right-0">
    		<div class="navbar-header">
	        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            </button>
	            <a class="navbar-brand" href="{{ base_path }}"><img src="{{ theme_base_path }}/images/logo-planning.png" alt="ladcp logo" /> </a>
	        </div>
    	</div>
    	<div class="col-md-10">
    		<!-- google translate -->
    		<div class="row">
    			<ul class="nav navbar-nav navbar-right padding-top13">
	                <li><div id="google-lan"><div id="google_translate_element"></div></div></li>
	            </ul>
    		</div>

    		<!-- navbar-collapse -->
    		<div class="row">
    			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		        	<ul class="nav navbar-nav" id="main-nav">
		                <li class="dropdown mega-dropdown">
		                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About</a>
		                    <ul class="dropdown-menu mega-dropdown-menu mega-menu-padding-10pc">
		                        <li class="col-md-6">
                            <h3 class="dropdown-header">About</h3>
		                        	<ul>
                              <li class="divider"></li>
		            					<li><a href="{{ base_path }}about/department-city-planning">Department of City Planning</a></li>
		            					<li><a href="{{ theme_base_path }}/archieves/about/2017.10.10_OrgChart_a.DptCityPlanning.pdf" target="_blank">Department Org Chart</a></li>
		            					<li><a href="{{ base_path }}about/message-director">Message from the Director</a></li>
		            					<li><a href="{{ base_path }}about/staff-directory">Staff Directory</a></li>
		            					<li><a href="{{ base_path }}about/commissions/3">City Planning Commission</a></li>
		                        	</ul>
		                        </li>
		                        <li class="col-md-6">
                            <h3 class="dropdown-header">Meetings, Hearings & Agendas</h3>
		            				<ul>
                          <li class="divider"></li>
		            					<li><a href="{{ base_path }}about/commission-agendas-minutes">Agendas & Minutes</a></li>
		            					<li><a href="{{ base_path }}about/hearings">Hearings</a></li>
		            					<li><a href="{{ base_path }}about/calendar">Planning Calendar</a></li>
		            				</ul>
		            			</li>
		                    </ul>
		            	</li>
		                <li class="dropdown mega-dropdown">
		                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Zoning </a>
		                    <ul class="dropdown-menu mega-dropdown-menu mega-menu-padding-10pc">
		                        <li class="col-md-4">
		                        	<h3 class="dropdown-header">Zoning 101</h3>
		                        	<ul>
		                        		<li class="divider"></li>
		            					<li><a href="{{ base_path }}zoning/what-zoning">What is Zoning</a></li>
		            					<li><a href="{{ base_path }}zoning/zoning-los-angeles">Zoning in Los Angeles</a></li>
		            					<li><a href="{{ base_path }}zoning/history-of-zoning-in-la">History of Zoning in LA</a></li>
		            					<li><a href="{{ base_path }}zoning/what-zimas">What is ZIMAS</a></li>
		                        	</ul>
		                        </li>
		                        <li class="col-md-4">
		                        	<h3 class="dropdown-header">Zoning in Los Angeles</h3>
		                        	<ul>
		                        		<li class="divider"></li>
		            					<li><a href="http://zimas.lacity.org/" target='_blank'>Find the Zoning for a Specific Property (ZIMAS)</a></li>
		            					<li><a href="http://planning.lacity.org/zone_code/Appendices/sum_of_zone.pdf" target='_blank'>Learn What a Zone Allows </a></li>
		            					<li><a href="http://library.amlegal.com/nxt/gateway.dll/California/lapz/municipalcodechapteriplanningandzoningco/chapterigeneralprovisionsandzoning/article2specificplanning-zoningcomprehen?f=templates$fn=default.htm$3.0$vid=amlegal:lapz_ca$anc=" target='_blank'>Access the Zoning Code</a></li>
		                        	</ul>
		                        </li>
		                        <li class="col-md-4">
		                        	<h3 class="dropdown-header">Updating the Zoning Code</h3>
		                        	<ul>
		                        		<li class="divider"></li>
		            					<li><a href="{{ base_path }}zoning/why-update-zoning-code">Why Update the Zoning Code?</a></li>
		            					<li><a href="http://recode.la/" target='_blank'>re:code LA Project </a></li>
		                        	</ul>
		                        </li>
		                    </ul>
		                </li>
		                <li class="dropdown mega-dropdown">
		                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects </a>
		                    <ul class="dropdown-menu mega-dropdown-menu mega-menu-padding-10pc">
		                    	<li class="col-md-3"></li>

		                        <li class="col-md-3">
		                        	<h3 class="dropdown-header">Applicants</h3>
		                        	<ul>
		                        		<li class="divider"></li>
		            					<li><a href="{{ base_path }}projects/land-use-process">Land Use Process</a></li>
		            					<li><a href="{{ base_path }}projects/public-counters">Public Counters</a></li>
		            					<li><a href="{{ base_path }}appointment/form">Schedule an Appointment</a></li>
		            					<li><a href="{{ base_path}}projects/case-processing-information">Case Processing Information</a></li>
		                        	</ul>
		                        </li>

		                        <li class="col-md-3">
		            				<h3 class="dropdown-header">Additional Resources</h3>
		            				<ul>
		            					<li class="divider"></li>
		                                <li><a href="http://planning.lacity.org/fees/" target="_blank">Fee Estimator</a></li>
		                                <li><a href="{{ base_path }}projects/ceqa-environmental-review">CEQA / Environmental Review</a></li>
		            					<li><a href="{{ base_path }}about/hearings">Hearings</a></li>
		            					<li><a href="{{ base_path }}about/commission-agendas-minutes">Commission Agendas & Minutes</a></li>
		            					<li><a href="#">Forms</a></li>
		            				</ul>
		            			</li>
		            			<li class="col-md-3"></li>
		                    </ul>
		                </li>
		                <li class="dropdown mega-dropdown">
		                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Policies </a>
		                	<ul class="dropdown-menu mega-dropdown-menu mega-menu-padding-10pc">
		                    	<li class="col-md-4">
		                    		<h3 class="dropdown-header">General Plan</h3>
		                        	<ul>
		                        		<li class="divider"></li>
		            					<li><a href="{{ base_path }}policies/general-plan-overview">General Plan Overview</a></li>
		            					<li><a href="{{ base_path }}policies/general-plan-elements">General Plan Elements</a></li>
										<li><a href="{{ base_path }}policies/general-plan-implementation-strategies" >General Plan Implementation Strategies</a></li>
										<li><a href="https://www.ourla2040.org" target="_blank">General Plan Updates</a></li>
		                        	</ul>
		                        </li>

		                        <li class="col-md-4">
		                        	<h3 class="dropdown-header">Citywide Policies &amp; Guidelines</h3>
		                        	<ul>
		                        		<li class="divider"></li>
										<li><a href="{{ base_path }}policies/historic-preservation">Historic Preservation</a></li>
										<li><a href="{{ base_path }}policies/urban-design-studio">Urban Design Studio</a></li>
		                        	</ul>
		                        </li>


								<li class="col-md-4">
		                        	<h3 class="dropdown-header">Ordinances</h3>
		                        	<ul>
		                        		<li class="divider"></li>
		            					<li><a href="https://cityclerk.lacity.org/lacityclerkconnect/index.cfm?fa=c.search&tab=ORD" target="_blank">Adopted Ordinances</a></li>
										<li><a href="{{ base_path }}policies/proposed-ordinances">Proposed Ordinances</a></li>
		                        	</ul>
		                        </li>
		                	</ul>
		            	</li>

		              	<li class="dropdown mega-dropdown">
		                	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Communities </a>
		                    <ul class="dropdown-menu mega-dropdown-menu mega-menu-padding-10pc">
		                		<li class="col-md-3"></li>
		                        <li class="col-md-3" >
		                    		<h3 class="dropdown-header">Community Plans</h3>
		                        	<ul>
		                        		<li class="divider"></li>
		            					<li><a href="{{ base_path }}communities/community-plan-areas" target="_blank">Community Plan Areas</a></li>
		            					<li><a href="{{ base_path }}communities/community-plan-updates">Community Plan Updates</a></li>
		                        	</ul>
		                        </li>
		                        <li class="col-md-3">
		                    		<h3 class="dropdown-header">Adoption Information</h3>
		                        	<ul>
		                        		<li class="divider"></li>
		            					<li><a href="https://planning.lacity.org/complan/Cpupage.htm" target="_blank">Community Plans</a></li>
		            					<li><a href="https://planning.lacity.org/complan/spapage.htm" target="_blank">Specific Plans</a></li>
		                        	</ul>
		                    	</li>
		                        <li class="col-md-3"></li>
		                    </ul>
		            	</li>

		            	<li class="dropdown mega-dropdown">
		                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Research </a>
		                    <ul class="dropdown-menu mega-dropdown-menu mega-menu-padding-10pc">
		                        <li class="col-md-3">
		                        	<h3 class="dropdown-header">Resources</h3>
		                        	<ul>
		                        		<li class="divider"></li>
		            					<li><a href="http://ladcp.maps.arcgis.com/apps/webappviewer/index.html?id=f81bd35d8d134a868ad54a28837a08b6" target="_blank">Demographics</a></li>
		            					<li><a href="{{ base_path }}resources/maps-geographies.php">Maps & Geographies</a></li>
		            					<li><a href="#">Publications</a></li>
		            					<li><a href="#">Forms</a></li>
		            					<li><a href="http://planning.lacity.org/fees/">Fee Estimator </a></li>
		                        	</ul>
		                        </li>
		                        <li class="col-md-3">
		                        	<h3 class="dropdown-header">Open Data</h3>
		                        	<ul>
		                        		<li class="divider"></li>
		                        		<li><a href="https://data.lacity.org/" target="_blank">Open Data Hub </a></li>
		                               <li><a href="http://geohub.lacity.org/" target="_blank"> Geo Hub </a></li>
		                                <li><a href="https://egis3.lacounty.gov/dataportal" target="_blank">County GIS Data Portal </a></li>
		                        	</ul>
		                        </li>
		                        <li class="col-md-3">
		                        	<h3 class="dropdown-header">Case Report</h3>
		                        	<ul>
		                        		<li class="divider"></li>
		                                <li><a href="{{ base_path }}research/bi-weekly-case-filing/163">Bi-Weekly Case Filing by Certified Neighborhood Council</a></li>
		                               	<li><a href="{{ base_path }}research/bi-weekly-case-filing/173" >Bi-weekly Case Filing by City Council District</a></li>
		                                <li><a href="{{ base_path }}research/bi-weekly-case-filing/183">Bi-Weekly Case Filing by Community Plan Area</a></li>
		                            	<li><a href="{{ base_path }}research/pcts-codes.php">PCTS Prefix and Suffix Codes</a></li>
		                        	</ul>
		                        </li>
		                    </ul>
		                </li>

		                <li class="dropdown mega-dropdown">
		              		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Media</a>
		                  	<ul class="dropdown-menu mega-dropdown-menu mega-menu-padding-10pc">
		                  		<li class="col-md-3"></li>
		                      	<li class="col-md-3" >
		                        	<h3 class="dropdown-header">Media Relations</h3>
		                            <ul>
		                              	<li class="divider"></li>
		                                <li><a href="{{ base_path }}media/our-stories">Our Stories</a></li>
		                                <li><a href="{{ base_path }}media/updates-newsletter">Updates / Newsletter</a></li>
		                                <li><a href="{{ base_path }}media/press-releases">Press Releases</a></li>
		                                <li><a href="{{ base_path }}media/media-information">Media Information</a></li>
		                            </ul>
		                      	</li>
		                      	<li class="col-md-3"></li>
		                      	<li class="col-md-3"></li>
		                  	</ul>
		              	</li>
		            </ul>
		            <ul class="nav navbar-nav navbar-right top-social-icons">
		                <li><a class="s-icons" href="https://www.facebook.com/Planning4LA/" target="_blank" ><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></li>
		                <li><a class="s-icons" href="https://www.instagram.com/planning4la/" class="padding-left0" target="_blank" ><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
		                <li><a class="s-icons" href="https://twitter.com/Planning4LA" target="_blank" ><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a></li>
		                <li><a class="s-icons padding-right0" href="https://www.youtube.com/channel/UChl2PmRhAzUf158o0vZjnHw/videos" target="_blank"><i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></a></li>
		            </ul>
		        </div>
    		</div>  <!-- /.navbar-collapse -->
    	</div>
    </div><!-- /.container-->
</nav>