<nav class="navbar navbar-default navbar-search-box animate" role="navigation">
	<div class="container menu-region">
    	<div class="col-md-2 tog-nav">
    		<div class="navbar-header">
	        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            </button>
	            <a class="navbar-brand" href="{{ base_path }}"><img src="{{ theme_base_path }}/images/logo-planning.png" alt="ladcp logo" /></a>
	        </div>
    	</div>

    	<div class="col-md-10">
    		<!-- google translate -->
    		<div class="row">
    			<ul class="nav navbar-nav navbar-right padding-top13 search-google-lan">
	                <li id="search" style="padding-right: 10px !important; ">
                        <form  action="/search/node" method="get" id="search-block-form" accept-charset="utf-8" class="searchbox">
              <input type="search" maxlength="128" placeholder="Search for ..." class="searchbox-input" data-drupal-selector="edit-keys" id="edit-keys--2" name="keys" onkeyup="buttonUp();" required="required"/>
			                <input type="submit" class="searchbox-submit js-form-submit form-submit" data-drupal-selector="edit-submit" id="edit-submit--3" />
			                <span class="searchbox-icon"><i class="fa fa-search" aria-hidden="true"></i></span>
			            </form>
                   </li>
	                <li class="google-lan"><div id="google-lan"><div id="google_translate_element"></div></div></li>
	            </ul>
    		</div>

    		<!-- navbar-collapse -->
    		<div class="row">
    			<div class="collapse navbar-collapse">
		        	<ul id="main-nav" class="nav navbar-nav navbar-right" >
		                <li class="dropdown mega-dropdown">
		                    <a  href="#" class="dropdown-toggle {% if currentlink == 'about' %} active {% endif %}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About</a>
		                    <ul class="dropdown-menu mega-dropdown-menu mega-menu-padding-10pc">
		                        <li class="col-md-4">
		                        	<h3 class="dropdown-header">About</h3>
		                        	<ul>
		                        		<li class="divider"></li>
		            					<li><a href="{{ base_path }}about/our-mission">Department</a></li>
		            					<li><a href="{{ base_path }}about/executive-office">Executive Office</a></li>
		            					<li><a href="{{ base_path }}about/decision-makers">Decision Makers</a></li>
		            					<li><a href="{{ base_path }}about/commissions">Commissions</a></li>
		                        	</ul>
		                        </li>
		                        <li class="col-md-4">
		                        	<h3 class="dropdown-header">Meetings</h3>
		            				<ul>
		            					<li class="divider"></li>
                                        <li><a href="{{ base_path }}about/calendar">Events Calendar</a></li>
                                        <li><a href="{{ base_path }}about/commission-meetings">Commission Meetings</a></li>
		            					<li><a href="{{ base_path }}about/hearings">Public Hearings</a></li>
		            				</ul>
		            			</li>
		                        <li class="col-md-4">
		                        	<h3 class="dropdown-header">Stay Connected</h3>
		            				<ul>
		            					<li class="divider"></li>
								        <li><a href="#">Email Sign-up</a></li>
		            					<li><a href="{{ base_path }}contact/staff-directory">Staff Directory</a></li>
		            				</ul>
		            			</li>
		                    </ul>
		            	</li>
		                <li class="dropdown mega-dropdown">
		                    <a href="#" class="dropdown-toggle {% if currentlink == 'zoning' %} active {% endif %}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Zoning </a>
		                    <ul class="dropdown-menu mega-dropdown-menu mega-menu-padding-10pc">
		                        <li class="col-md-4">
		                        	<h3 class="dropdown-header">Code</h3>
		                        	<ul>
		                        		<li class="divider"></li>
		                        		<li><a href="{{ base_path }}zoning/zoning-code">Zoning Code</a></li>
		            					<li><a href="{{ base_path }}zoning/updating-the-zoning-code-re:codeLA">History</a></li>
		                        	</ul>
		                        </li>
		                        <li class="col-md-4">
		                        	<h3 class="dropdown-header">Regulations</h3>
		                        	<ul>
		                        		<li class="divider"></li>
		            					
		            					<li><a href="{{ base_path }}">Summary</a></li>
		            					<li><a href="{{ base_path }}">Updates</a></li>

		                        	</ul>
		                        </li>
		                        <li class="col-md-4">
		                        	<h3 class="dropdown-header">Quick Links</h3>
		                        	<ul>
		                        		<li class="divider"></li>
		            					<li><a href="{{ base_path }}zoning/zoning-map">Zoning Map (ZIMAS)</a></li>
		            					<li><a href="{{ base_path }}">Enforcement</a></li>
		            					<li><a href="{{ base_path }}zoning/faq">Glossary of Terms</a></li>

		                        	</ul>
		                        </li>
		                    </ul>
		                </li>
		                <li class="dropdown mega-dropdown">
		                    <a href="#" class="dropdown-toggle {% if currentlink == 'projects' %} active {% endif %}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Development<br>Services</a>
		                    <ul class="dropdown-menu mega-dropdown-menu mega-menu-padding-10pc">
		                        <li class="col-md-4">
		                        	<h3 class="dropdown-header">Land Use Process</h3>
		                        	<ul>
		                        		<li class="divider"></li>
		            					<li><a href="{{ base_path }}development-process/land-use-process">Application Use Process</a></li>
		            					<li><a href="{{ base_path }}">Planning Approvals</a></li>
		            					<li><a href="{{ base_path }}development-process/public-counter-services">Development Services</a></li>
		            					<li><a href="{{ base_path }}">Case Management</a></li>
		            					<li><a href="{{ base_path }}development-process/expedited-processing-services">Expedited Processing</a></li>
		                        	</ul>
		                        </li>

		                        <li class="col-md-4">
		            				<h3 class="dropdown-header">Environmental Review</h3>
		            				<ul>
		            					<li class="divider"></li>
		                                <li><a href="{{ base_path }}development-process/environmental-review">Environmental Review</a></li>
                                        <li><a href="{{ base_path }}development-process/environmental-impact-reports">Environmental Impact Reports</a></li>
                                        <li><a href="{{ base_path }}">Published Documents</a></li>
		            				</ul>
		            			</li>
		                        <li class="col-md-4">
		            				<h3 class="dropdown-header">Quicks Links</h3>
		            				<ul>
		            					<li class="divider"></li>
		            					<li><a href="{{ base_path }}contact/appointment/form">Appointments</a></li>
		                                <li><a href="{{ base_path }}resources/fee-estimator">Fee Estimator</a></li>
		            					<li><a href="{{ base_path }}development-process/forms">Forms</a></li>
		            				</ul>
		            			</li>
		                    </ul>
		                </li>
		                <li class="dropdown mega-dropdown">
		                    <a href="#" class="dropdown-toggle {% if currentlink == 'policies' %} active {% endif %}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Plans &<br>Policies</a>
		                	<ul class="dropdown-menu mega-dropdown-menu mega-menu-padding-10pc">
		                    	<li class="col-md-4">
		                    		<h3 class="dropdown-header">General Plan</h3>
		                        	<ul>
		                        		<li class="divider"></li>
		            					<li><a href="{{ base_path }}plans-policies/general-plan-overview">Overview</a></li>
										<li><a href="{{ base_path }}plans-policies/general-plan-updates">Updates</a></li>
		                        	</ul>
		                        </li>

		                        <li class="col-md-4">
		                        	<h3 class="dropdown-header">Community Plans</h3>
		                        	<ul>
		                        		<li class="divider"></li>
										<li><a href="{{ base_path }}plans-policies/community-plans">Overview</a></li>
										<li><a href="{{ base_path }}plans-policies/community-plan-updates">Updates</a></li>
										<li><a href="{{ base_path }}plans-policies/overlays">Overlays</a></li>
		                        	</ul>
		                        </li>


		                        <li class="col-md-4">
		                        	<h3 class="dropdown-header">Ordinances and Initiatives</h3>
		                        	<ul>
		                        		<li class="divider"></li>
										<li><a href="{{ base_path }}plans-policies/proposed-ordinances">Proposed Ordinances</a></li>
										<li><a href="{{ base_path }}plans-policies/adopted-ordinances">Adopted Ordinances</a></li>
										<li><a href="{{ base_path }}">Land Use Initiatives</a></li>
		                        	</ul>
		                        </li>
		                	</ul>
		            	</li>

		              	<li class="dropdown mega-dropdown">
		                	<a href="#" class="dropdown-toggle {% if currentlink == 'design-preservation' %} active {% endif %}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		                	 Preservation &<br>Design</a>
		                    <ul class="dropdown-menu mega-dropdown-menu mega-menu-padding-10pc">
		                        <li class="col-md-4" >
                                    <h3 class="dropdown-header">Historic Resources</h3>
                                    <ul>
                                        <li class="divider"></li>
                                        <li><a href="{{ base_path }}design-preservation/surveyla-findings">Historic Resources Survey</a></li>
                                        <li><a href="{{ base_path }}design-preservation/historic-cultural-monuments">Historic Landmarks</a></li>
                                        <li><a href="{{ base_path }}design-preservation/historic-designation-process">Historic Designation Process</a></li>
                                        <li><a href="{{ base_path }}">Historic Studies</a></li>
                                    </ul>
                                </li>
                                <li class="col-md-4">
                                    <h3 class="dropdown-header">Historic Districts</h3>
                                    <ul>
                                        <li class="divider"></li>
                                        <li><a href="{{ base_path }}design-preservation/program-overview">Program Overview</a></li>
                                        <li><a href="{{ base_path }}design-preservation/citywide-hpozs">Local Historic Districts</a></li>
                                        <li><a href="{{ base_path }}design-preservation/hpoz-project-review">Project Review</a></li>
                                    </ul>
                                </li>
                                <li class="col-md-4">
                                    <h3 class="dropdown-header">Urban Design</h3>
                                    <ul>
                                        <li class="divider"></li>
                                        <li><a href="{{ base_path }}design-preservation/urban-design-studio/program-overview">Program Overview</a></li>
                                        <li><a href="{{ base_path }}">Policy Objectives</a></li>
                                        <li><a href="{{ base_path }}">Guidelines and Standards</a></li>
                                    </ul>
                                </li>
		                    </ul>
		            	</li>

		            	<li class="dropdown mega-dropdown">
		                    <a href="#" class="dropdown-toggle {% if currentlink == 'resources' %} active {% endif %}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources</a>
		                    <ul class="dropdown-menu mega-dropdown-menu mega-menu-padding-10pc">
		                        <li class="col-md-4">
		                        	<h3 class="dropdown-header">Reports and Publications</h3>
		                        	<ul>
										<li class="divider"></li>
										<li><a href="{{ base_path }}resources/publications">Publications</a></li>
										<li><a href="{{ base_path }}resources/housing-reports">Housing Progress Reports</a></li>
										<li><a href="{{ base_path }}resources/bi-weekly-case-filing/">Bi-Weekly Case Filing</a></li>
					           	    </ul>
		                        </li>
		                        <li class="col-md-4">
		                        	<h3 class="dropdown-header">Data Analysis</h3>
		                        	<ul>
		                        		<li class="divider"></li>
		                        		<li><a href="{{ base_path }}resources/performance-metrics">Performance Metrics</a></li>
								<li><a href="{{ base_path }}resources/open-data">Open Data</a></li>
		                        	</ul>
		                        </li>
		                        <li class="col-md-4">
                        	       <h3 class="dropdown-header">Online Resources</h3>
                                    <ul>
								        <li class="divider"></li>
										<li><a href="http://ladcp.maps.arcgis.com/apps/webappviewer/index.html?id=f81bd35d8d134a868ad54a28837a08b6" target="_blank">Demographics</a></li>
										<li><a href="{{ base_path }}resources/maps">Maps</a></li>
										<li><a href="{{ base_path }}resources/videos">Videos</a></li>
										<li><a href="{{ base_path }}blog">Blog</a></li>
	                              </ul>
		                        </li>
		                    </ul>
		                </li>
		                <li class="dropdown mega-dropdown">
		              		<a href="#" class="dropdown-toggle {% if currentlink == 'contact' %} active {% endif %}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact</a>
		                  	<ul class="dropdown-menu mega-dropdown-menu mega-menu-padding-10pc">
		                      	<li class="col-md-3" >
		                        	<h3 class="dropdown-header">Contact</h3>
		                            <ul>
		                              	<li class="divider"></li>
		                                <li><a href="{{ base_path }}contact/staff-directory">Staff Directory</a></li>
		                                <li><a href="#">Organizational Chart</a></li>
		                            </ul>
		                      	</li>
								<li class="col-md-3" >
									<h3 class="dropdown-header">Appointments</h3>
										<ul>
											<li class="divider"></li>
											<li><a href="{{ base_path }}contact/public-counters">Public Counters</a></li>
											<li><a href="{{ base_path }}contact/locations-and-hours">Locations and Hours</a></li>
										</ul>
								</li>
		                      	<li class="col-md-3" >
		                        	<h3 class="dropdown-header">Media Inquiries</h3>
		                            <ul>
		                              	<li class="divider"></li>
		                                <li><a href="{{ base_path }}contact/communications">Communications</a></li>
										<li><a href="{{ base_path }}contact/statements-and-releases">Press Releases and Statements</a></li>
		                            </ul>
		                      	</li>
		                      	<li class="col-md-3" >
		                        	<h3 class="dropdown-header">Employments</h3>
		                            <ul>
		                              	<li class="divider"></li>
		                                <li><a href="{{ base_path }}">Job Oppertunities</a></li>
									   <li><a href="{{ base_path }}">Internships</a></li>
		                            </ul>
		                      	</li>
		                  	</ul>
		              	</li>
		            </ul>

		        </div>
    		</div>  <!-- /.navbar-collapse -->
    	</div>
    </div><!-- /.container-->

</nav>
