<div id="apc" class="tab-pane fade active in commissions-tab-pane">
    <div class="row padding-left0 padding-right0">
        <!-- * team  -->
        <div class="col-md-12">
            <div class="panel-group" id="accordion">
            
                {% for item in planning_area_category %}
                    <ul class="accordion panel panel-default" style="padding-left: 0px;">
                        <div class="panel-heading">
                            <li class="panel-title">
                                <a class="accordion-title accordion-toggle" data-id="{{ item.id }}" data-toggle="collapse" data-parent="#accordion" href="#collapseOne-{{ loop.index0 }}">
                                    {{ item.name }}
                                </a>
                            </li>
                        </div>
                        {% if loop.index0 == 0 %}
                            {% set class = '' %} {# to open default accrodian set class = 'in' #}
                        {% else %}
                            {% set class = '' %}
                        {% endif %}
                        <div id="collapseOne-{{ loop.index0 }}" class="panel-collapse collapse {{ class }}">
                            {# display Rules & Procedures link #}
                            <div class="padding-left-15 paddingtop15">{{ item.description|raw }}</div>
                            
                            <div class="loading_1 hidden"></div>
                            
                            <div class="js-response panel-body">
                                {{ rows }}
                                {{ empty }}
                            </div>
                        </div>
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
