{{ attach_library ('cpv3/cpu-general') }}
{%
  set class =  ''
%}

<div class="row padding-left0 padding-right0" style="padding-bottom: 1px;">
  <div class="col-sm-4" style="padding-bottom: 40px;">

    <div class="news-feed" {{ attributes.addClass(class) }}>{{ fields.field_image_cpu_news_feed.content }}
 </div>
 <div class="sharethis-inline-share-buttons"></div>
   </div>


<div class="col-sm-8">
 <div class="padding-bottom15">
  <h5 style="margin-top: 0">{{ fields.title.content }}</h5>
  <div class="date" style="font-size: 12px">
    <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ fields.created.content }}
</div>
<div id="ajax-view">
<div>{{ fields.body.content }}</div>
<div> {{ fields.field_photo_gallery_para.content }}</div>
</div>
</div>
 </div>

 <div class="row paddingtop15 padding-left0 padding-right0">
 <div class="col-sm-12"><p class="bottom-solid-line"></p></div>
 </div>
  </div>

   <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5abd51321243c10013440c58&product=inline-share-buttons' async='async'></script>
