{%
  set class =  ''
%}

<div class="row padding-left0 padding-right0" style="padding-bottom: 1px;">
	<div class="col-md-4 col-xs-6">

    <div class="news-feed" {{ attributes.addClass(class) }}>{{ fields.field_image_cpu_news_feed.content }}
    </div>
<div class="info" style="font-size:13px;margin-top:20px;">
<div>{{ fields.field_file_cpu_news_feed.content }}</div>

<div><strong>{{ fields.field_event_date.label }}</strong></div>
<div>{{ fields.field_event_date.content}}</div>
<div><strong>{{ fields.field_event_time.label }}</strong></div>
<div>{{ fields.field_event_time.content }}</div>
<div><strong>{{ fields.field_event_location.label }}</strong></div>
<div>{{ fields.field_event_location.content }}</div>
<div><strong>{{ fields.field_mapit.content }}</strong></div>
<div><strong>{{ fields.field_contact.label }}</strong></div>
<div>{{ fields.field_contact.content }}</div>
<div><strong>{{ fields.field_email.label }}</strong></div>
<div>{{ fields.field_email.content }}</div>

</div>
 </div>


 <div class="col-md-8">
 <div class="padding-bottom15">
  <h5 style="margin-top: 0px;">{{ fields.title.content }}</h5>
  <div class="date" style="font-size: 12px;">
  </div>
 </div>
 <div>{{ fields.body.content }}</div>
 <div> {{ fields.field_photo_gallery_para.content }}</div>
 </div>

 </div>

 <div class="row paddingtop15 padding-left0 padding-right0">
    </div>
 <div class="col-md-12"><p class="bottom-solid-line"></p></div>
