{%
  set class =  ''
%}

<div class="row padding-left0 padding-right0" style="padding-bottom: 1px;">
	<div class="col-md-4">

	<div{{ attributes.addClass(class) }}>{{ fields.field_image_cpu_news_feed.content }}</div>
  <div class="sharethis-inline-share-buttons"></div>

<div class="info" style="font-size:13px;margin-top:20px;">
<strong>Event Date:</strong> {{ content.field_date.value | date("M d, Y") }}<br />
<strong>Event Time:</strong> {{ fields.field_event_time.content }}<br />
<strong>Location:</strong> {{ fields.field_event_location.content }}<br />
<strong>{{ fields.field_mapit.content }}</strong><br />
<strong>Phone Contact:</strong> {{ fields.field_contact.content }}<br />
<strong>Email Contact:</strong> {{ fields.field_email.content }}<br />
</div>
 </div>


 <div class="col-md-8">
 <div class="padding-bottom15">
  <h5 style="margin-top: 0px;">{{ fields.title.content }}</h5>
  <div class="date" style="font-size: 12px;">
    <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ fields.created.content }}
  </div>
 </div>

 <div>{{ fields.body.content }}</div>
 </div>

 </div>

 <div class="row paddingtop15 padding-left0 padding-right0">
 <div class="col-md-12"><p class="bottom-solid-line"></p></div>
 </div>

 <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5abd51321243c10013440c58&product=inline-share-buttons' async='async'></script>
